Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2022-10, with the labels that each got.

#998 feat: support `graphql` v16
  plugins/node/opentelemetry-instrumentation-graphql/.tav.yml
  plugins/node/opentelemetry-instrumentation-graphql/package.json
  plugins/node/opentelemetry-instrumentation-graphql/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-graphql/src/types.ts
  plugins/node/opentelemetry-instrumentation-graphql/src/utils.ts
  plugins/node/opentelemetry-instrumentation-graphql/test/graphql-adaptor.ts
  plugins/node/opentelemetry-instrumentation-graphql/test/graphql.test.ts
Labels: never-stale, pkg:instrumentation-graphql

#1199 feat(pg): add requireParentSpan option
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/src/types.ts
  plugins/node/opentelemetry-instrumentation-pg/src/utils.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/utils.test.ts
Labels: pkg:instrumentation-pg

#1222 fix(instrumentation-fs): fix `fs.exists` when it's util.promisified
  plugins/node/instrumentation-fs/src/constants.ts
  plugins/node/instrumentation-fs/src/instrumentation.ts
  plugins/node/instrumentation-fs/test/definitions.ts
  plugins/node/instrumentation-fs/test/index.test.ts
Labels: pkg:instrumentation-fs

#1223 fix(dns): remove lookupPromise polyfill for node8 dns promise tests
  plugins/node/opentelemetry-instrumentation-dns/src/utils.ts
  plugins/node/opentelemetry-instrumentation-dns/test/integrations/dnspromise-lookup.test.ts
Labels: pkg:instrumentation-dns

#1231 test: reduce number of aws-sdk versions for tav
  plugins/node/opentelemetry-instrumentation-aws-sdk/.tav.yml
Labels: pkg:instrumentation-aws-sdk

#1221 fix: remove types of the instrumented libs form public apis
  plugins/node/instrumentation-dataloader/src/instrumentation.ts
  plugins/node/instrumentation-mongoose/src/mongoose.ts
Labels: pkg:instrumentation-mongoose, pkg:instrumentation-dataloader

#1180 feat(cassandra-responsehook): added response hook to execute func
  plugins/node/opentelemetry-instrumentation-cassandra/README.md
  plugins/node/opentelemetry-instrumentation-cassandra/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-cassandra/src/types.ts
  plugins/node/opentelemetry-instrumentation-cassandra/test/cassandra-driver.test.ts
Labels: pkg:instrumentation-cassandra-driver
