Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2022-09, with the labels that each got.

#1154 docs(auto-instrumentations-node): fix broken links
  metapackages/auto-instrumentations-node/README.md
Labels: documentation

#1159 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-express/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-graphql/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-graphql/package.json
  plugins/node/opentelemetry-instrumentation-ioredis/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-ioredis/package.json
  plugins/node/opentelemetry-instrumentation-mysql/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mysql/package.json
  plugins/node/opentelemetry-instrumentation-net/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-net/package.json
  plugins/node/opentelemetry-instrumentation-pg/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pino/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-pino/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
Labels: autorelease: pending

#1168 chore(mysql): migrate mysql examples
  examples/mysql/package.json
  examples/mysql/tracer.js
  plugins/node/opentelemetry-instrumentation-mysql/.eslintignore
  plugins/node/opentelemetry-instrumentation-mysql/README.md
  plugins/node/opentelemetry-instrumentation-mysql/examples/README.md
  plugins/node/opentelemetry-instrumentation-mysql/examples/images/jaeger-ui.png
  plugins/node/opentelemetry-instrumentation-mysql/examples/images/zipkin-ui.png
  plugins/node/opentelemetry-instrumentation-mysql/examples/package.json
  plugins/node/opentelemetry-instrumentation-mysql/examples/src/client.ts
  plugins/node/opentelemetry-instrumentation-mysql/examples/src/server.ts
  plugins/node/opentelemetry-instrumentation-mysql/examples/src/tracer.ts
  plugins/node/opentelemetry-instrumentation-mysql/examples/tsconfig.json
  plugins/node/opentelemetry-instrumentation-mysql/package.json
Labels: examples

#1156 chore(redis): migrate redis examples
  examples/redis/package.json
  examples/redis/tracer.js
  plugins/node/opentelemetry-instrumentation-redis/.eslintignore
  plugins/node/opentelemetry-instrumentation-redis/README.md
  plugins/node/opentelemetry-instrumentation-redis/examples/README.md
  plugins/node/opentelemetry-instrumentation-redis/examples/images/jaeger.jpg
  plugins/node/opentelemetry-instrumentation-redis/examples/images/zipkin.jpg
  plugins/node/opentelemetry-instrumentation-redis/examples/package.json
  plugins/node/opentelemetry-instrumentation-redis/examples/src/client.ts
  plugins/node/opentelemetry-instrumentation-redis/examples/src/express-tracer-handlers.ts
  plugins/node/opentelemetry-instrumentation-redis/examples/src/server.ts
  plugins/node/opentelemetry-instrumentation-redis/examples/src/setup-redis.ts
  plugins/node/opentelemetry-instrumentation-redis/examples/src/tracer.ts
  plugins/node/opentelemetry-instrumentation-redis/examples/tsconfig.json
  plugins/node/opentelemetry-instrumentation-redis/package.json
Labels: examples

#1194 fix: remove unneeded type exports in mongodb instrumentation
  plugins/node/opentelemetry-instrumentation-mongodb/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mongodb/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-mongodb/src/types.ts
Labels: pkg:instrumentation-mongodb

#1191 test: fix tests for restify >=5
  .github/workflows/unit-test.yml
  plugins/node/opentelemetry-instrumentation-restify/.tav.yml
  plugins/node/opentelemetry-instrumentation-restify/README.md
  plugins/node/opentelemetry-instrumentation-restify/package.json
  plugins/node/opentelemetry-instrumentation-restify/src/constants.ts
  plugins/node/opentelemetry-instrumentation-restify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-restify/src/types.ts
  plugins/node/opentelemetry-instrumentation-restify/test/restify.test.ts
Labels: priority:p1, pkg:instrumentation-restify

#1055 feat(propagation-utils): end pub-sub process span on promise settled
  packages/opentelemetry-propagation-utils/package.json
  packages/opentelemetry-propagation-utils/src/pubsub-propagation.ts
  packages/opentelemetry-propagation-utils/test/pubsub-propagation.test.ts
Labels: node-support-drop

#1171 feat: add dataloader instrumentation
  .github/component_owners.yml
  metapackages/auto-instrumentations-node/README.md
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-node/src/utils.ts
  metapackages/auto-instrumentations-node/test/utils.test.ts
  plugins/node/instrumentation-dataloader/.eslintignore
  plugins/node/instrumentation-dataloader/.eslintrc.js
  plugins/node/instrumentation-dataloader/.npmignore
  plugins/node/instrumentation-dataloader/.tav.yml
  plugins/node/instrumentation-dataloader/CHANGELOG.md
  plugins/node/instrumentation-dataloader/LICENSE
  plugins/node/instrumentation-dataloader/README.md
  plugins/node/instrumentation-dataloader/package.json
  plugins/node/instrumentation-dataloader/src/index.ts
  plugins/node/instrumentation-dataloader/src/instrumentation.ts
  plugins/node/instrumentation-dataloader/src/types.ts
  plugins/node/instrumentation-dataloader/test/dataloader.test.ts
  plugins/node/instrumentation-dataloader/tsconfig.json
  release-please-config.json
Labels: pkg:instrumentation-dataloader

#1188 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  packages/opentelemetry-host-metrics/CHANGELOG.md
  packages/opentelemetry-host-metrics/package.json
  packages/opentelemetry-propagation-utils/CHANGELOG.md
  packages/opentelemetry-propagation-utils/package.json
  plugins/node/instrumentation-dataloader/CHANGELOG.md
  plugins/node/instrumentation-dataloader/package.json
  plugins/node/instrumentation-mongoose/CHANGELOG.md
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-fastify/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
Labels: autorelease: pending

#1210 fix(express): use the same clock for span start and end
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
Labels: bug, priority:p2

#1213 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  plugins/node/opentelemetry-instrumentation-express/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-express/package.json
Labels: autorelease: pending

#1201 chore(instrumentation-graphql): turn off failing test and add CTA for becoming an owner
  plugins/node/opentelemetry-instrumentation-graphql/README.md
  plugins/node/opentelemetry-instrumentation-graphql/test/graphql.test.ts
Labels: pkg:instrumentation-graphql
