Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2023-11, with the labels that each got.

#1741 fix!: host-metrics `system.cpu.utilization` calculation fix
  packages/opentelemetry-host-metrics/src/enum.ts
  packages/opentelemetry-host-metrics/src/metric.ts
  packages/opentelemetry-host-metrics/src/stats/common.ts
  packages/opentelemetry-host-metrics/test/metric.test.ts
  packages/opentelemetry-host-metrics/test/mocks/cpu.json
Labels: bug, priority:p2, pkg:host-metrics

#1768 fix(auto-instrumentations-web)!: Add zone.js as a peerDependency
  metapackages/auto-instrumentations-web/package.json
Labels: pkg:auto-instrumentations-web

#1784 chore(deps): unpin @opentelemetry/* in fastify instrumentation and mysql example
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-mysql/examples/package.json
Labels: pkg:instrumentation-mysql, pkg:instrumentation-fastify

#1776 feat: add esnext target for web instrumentations
  plugins/web/opentelemetry-instrumentation-document-load/package.json
  plugins/web/opentelemetry-instrumentation-document-load/tsconfig.esnext.json
  plugins/web/opentelemetry-instrumentation-long-task/package.json
  plugins/web/opentelemetry-instrumentation-long-task/tsconfig.esnext.json
  plugins/web/opentelemetry-instrumentation-user-interaction/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/tsconfig.esnext.json
  plugins/web/opentelemetry-plugin-react-load/package.json
  plugins/web/opentelemetry-plugin-react-load/tsconfig.esnext.json
  tsconfig.base.esnext.json
Labels: Target: Browser, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:plugin-react-load

#1754 fix(instrumentation-koa): handle koa routes being of type RegExp
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-koa/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-koa/src/utils.ts
  plugins/node/opentelemetry-instrumentation-koa/test/koa.test.ts
Labels: pkg:instrumentation-koa

#1727 feat(instrumentation-aws-sdk)!: Capture full ARN for span attribute messaging.destination.name for SNS topics
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/sns.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/sns.test.ts
Labels: pkg:instrumentation-aws-sdk

#1796 chore(graphql): update span name to show the resolver name
  plugins/node/opentelemetry-instrumentation-graphql/src/utils.ts
  plugins/node/opentelemetry-instrumentation-graphql/test/graphql.test.ts
  plugins/node/opentelemetry-instrumentation-graphql/test/helper.ts
Labels: pkg:instrumentation-graphql

#1800 fix: Export All Azure Resource Detectors
  detectors/node/opentelemetry-resource-detector-azure/src/detectors/index.ts
Labels: pkg:resource-detector-azure

#1812 chore(instrumentation-mysql2): drop unneed @types/mysql2 dep
  package-lock.json
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
Labels: pkg:instrumentation-mysql2

#1798 chore: release main
  .release-please-manifest.json
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/package.json
  detectors/node/opentelemetry-resource-detector-aws/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-aws/package.json
  detectors/node/opentelemetry-resource-detector-azure/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-azure/package.json
  detectors/node/opentelemetry-resource-detector-container/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-container/package.json
  detectors/node/opentelemetry-resource-detector-gcp/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-gcp/package.json
  detectors/node/opentelemetry-resource-detector-instana/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-instana/package.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  packages/opentelemetry-propagation-utils/CHANGELOG.md
  packages/opentelemetry-propagation-utils/package.json
  packages/opentelemetry-test-utils/CHANGELOG.md
  packages/opentelemetry-test-utils/package.json
  plugins/node/instrumentation-amqplib/CHANGELOG.md
  plugins/node/instrumentation-amqplib/package.json
  plugins/node/instrumentation-lru-memoizer/CHANGELOG.md
  plugins/node/instrumentation-lru-memoizer/package.json
  plugins/node/instrumentation-mongoose/CHANGELOG.md
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-socket.io/CHANGELOG.md
  plugins/node/instrumentation-socket.io/package.json
  plugins/node/instrumentation-tedious/CHANGELOG.md
  plugins/node/instrumentation-tedious/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-cassandra/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-cassandra/package.json
  plugins/node/opentelemetry-instrumentation-ioredis/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-ioredis/package.json
  plugins/node/opentelemetry-instrumentation-memcached/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-memcached/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-mysql/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mysql/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-pg/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
  plugins/node/opentelemetry-instrumentation-redis/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-redis/package.json
Labels: autorelease: pending

#1760 feat(instrumentation-mongodb): add support for mongodb v6
  plugins/node/opentelemetry-instrumentation-mongodb/.tav.yml
  plugins/node/opentelemetry-instrumentation-mongodb/README.md
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v4-v5-v6.metrics.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v5-v6.test.ts
Labels: pkg:instrumentation-mongodb

#1763 fix(instrumentation-fastify): fix span attributes and avoid FSTDEP017 FastifyDeprecation warning for 404 request
  package-lock.json
  plugins/node/opentelemetry-instrumentation-fastify/.tav.yml
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-fastify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-fastify/test/fixtures/use-fastify.mjs
  plugins/node/opentelemetry-instrumentation-fastify/test/instrumentation.test.ts
Labels: bug, priority:p4, pkg:instrumentation-fastify

#1657 feat(express): record exceptions
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-express/src/utils.ts
  plugins/node/opentelemetry-instrumentation-express/test/express.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/utils.test.ts
Labels: pkg:instrumentation-express
