Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2023-10, with the labels that each got.

#1710 fix(instrumentation-fastify): add tav script
  plugins/node/opentelemetry-instrumentation-fastify/.tav.yml
  plugins/node/opentelemetry-instrumentation-fastify/package.json
Labels: pkg:instrumentation-fastify

#1679 fix: Removed deprecated properties usage in Fastify instrumentation
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-fastify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-fastify/src/utils.ts
  plugins/node/opentelemetry-instrumentation-fastify/test/instrumentation.test.ts
Labels: pkg:instrumentation-fastify

#1729 fix(instrumentation-redis-4): avoid shimmer warning by only wrapping multi/MULTI if they exist
  plugins/node/opentelemetry-instrumentation-redis-4/src/instrumentation.ts
Labels: bug, priority:p3, pkg:instrumentation-redis-4

#1730 fix(instrumentation-redis-4): fix unhandledRejection in client.multi(...) handling
  plugins/node/opentelemetry-instrumentation-redis-4/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis-4/test/redis.test.ts
Labels: bug, priority:p1, pkg:instrumentation-redis-4

#1737 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
Labels: autorelease: pending

#1694 fix(ioredis): fix instrumentation of ESM-imported ioredis
  plugins/node/opentelemetry-instrumentation-ioredis/src/instrumentation.ts
Labels: bug, priority:p1, pkg:instrumentation-ioredis

#1701 fix(pg): fix instrumentation of ESM-imported pg
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
Labels: bug, priority:p1, pkg:instrumentation-pg

#1721 fix: fix context loss when cursor are accesed concurrently
  plugins/node/opentelemetry-instrumentation-mongodb/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mongodb/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v4.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v5.test.ts
Labels: bug, priority:p2, pkg:instrumentation-mongodb
