Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2023-12, with the labels that each got.

#1840 docs(user-interaction): update docs to include examples of config options
  plugins/web/opentelemetry-instrumentation-user-interaction/README.md
Labels: documentation, pkg:instrumentation-user-interaction

#1844 test(instrumentation-aws-sdk): fix SQS mock responses for @aws-sdk/client-sqs versions using the AWS JSON 1.0 protocol
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/aws-sdk-v3.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/mock-responses/sqs-receive.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/mock-responses/sqs-send-batch.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/mock-responses/sqs-send.json
Labels: pkg:instrumentation-aws-sdk

#1736 fix(koa): fix instrumentation of ESM-imported koa
  package-lock.json
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-koa/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-koa/test/fixtures/use-koa.mjs
  plugins/node/opentelemetry-instrumentation-koa/test/koa.test.ts
Labels: pkg:instrumentation-koa

#1804 fix(instrumentation-express)!: remove `@types/express` from dependencies
  package-lock.json
  plugins/node/opentelemetry-instrumentation-express/README.md
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-express/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-express/src/types.ts
  plugins/node/opentelemetry-instrumentation-express/src/utils.ts
Labels: pkg:instrumentation-express

#1748 fix(instrumentation-aws-sdk): remove un-sanitised db.statement span attribute from DynamoDB spans
  plugins/node/opentelemetry-instrumentation-aws-sdk/README.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/aws-sdk.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/ServiceExtension.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/ServicesExtensions.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/dynamodb.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/lambda.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/sns.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/sqs.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/types.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/dynamodb.test.ts
Labels: pkg:instrumentation-aws-sdk

#1848 feat: add esnext target for auto-instr-web package
  metapackages/auto-instrumentations-web/package.json
  metapackages/auto-instrumentations-web/tsconfig.esnext.json
Labels: pkg:auto-instrumentations-web

#1838 test: fix TAV tests for @cucumber/cucumber and @aws-sdk/client-s3
  .github/workflows/test-all-versions.pr.yml
  .github/workflows/test-all-versions.push.yml
  .github/workflows/test-all-versions.yml
  .github/workflows/unit-test.yml
  package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/.tav.yml
  scripts/parse-lerna-scopes.mjs
  scripts/pr-labels-to-npm-workspace-args.mjs
Labels: pkg:instrumentation-aws-sdk, pkg:instrumentation-cucumber

#1847 test(instrumentation-aws-sdk): skip failing tests of @aws-sdk/client-sqs ReceiveMessage context handling
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/aws-sdk-v3.test.ts
Labels: pkg:instrumentation-aws-sdk

#1862 test: fix redis-4 TAV tests with Node.js v14
  plugins/node/opentelemetry-instrumentation-redis-4/.tav.yml
Labels: pkg:instrumentation-redis-4

#1863 test: fix race in redis-4 tests
  plugins/node/opentelemetry-instrumentation-redis-4/test/redis.test.ts
Labels: pkg:instrumentation-redis-4

#1861 test: reduce number of mongoose versions (TAV) tested from 204 to 19
  plugins/node/instrumentation-mongoose/.tav.yml
Labels: pkg:instrumentation-mongoose

#1868 fix(host-metrics): bump minimum systeminformation version to 5.21.20 (security)
  package-lock.json
  packages/opentelemetry-host-metrics/package.json
Labels: pkg:host-metrics
