Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2023-02, with the labels that each got.

#1379 chore: release main
  .release-please-manifest.json
  detectors/node/opentelemetry-resource-detector-gcp/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-gcp/package.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
Labels: autorelease: pending

#1345 feat(instrumentation-dataloader): add dataloader name to span names
  plugins/node/instrumentation-dataloader/package.json
  plugins/node/instrumentation-dataloader/src/instrumentation.ts
  plugins/node/instrumentation-dataloader/test/dataloader.test.ts
Labels: pkg:instrumentation-dataloader

#1390 chore(nestjs-core): remove types/vinyl-fs dependency
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
Labels: pkg:instrumentation-nestjs-core

#1377 fix(instrumentation-dns): fix instrumentation of `dns/promises`
  plugins/node/opentelemetry-instrumentation-dns/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-dns/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-dns/test/integrations/dns-slash-promises-lookup.test.ts
Labels: pkg:instrumentation-dns

#1392 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  plugins/node/instrumentation-amqplib/CHANGELOG.md
  plugins/node/instrumentation-amqplib/package.json
  plugins/node/instrumentation-dataloader/CHANGELOG.md
  plugins/node/instrumentation-dataloader/package.json
  plugins/node/opentelemetry-instrumentation-dns/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-dns/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
Labels: autorelease: pending

#1393 feat(pg): remove support for pg v7
  plugins/node/opentelemetry-instrumentation-pg/.tav.yml
  plugins/node/opentelemetry-instrumentation-pg/README.md
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/utils.ts
Labels: pkg:instrumentation-pg

#1395 fix(postgres): pass 'arguments' to the connect callback
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-pg/src/utils.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
Labels: pkg:instrumentation-pg

#1398 test(koa): add test all versions to @koa/router
  plugins/node/opentelemetry-instrumentation-koa/.tav.yml
  plugins/node/opentelemetry-instrumentation-koa/README.md
Labels: pkg:instrumentation-koa
