Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2023-04, with the labels that each got.

#1445 chore(mysql): remove mysql from dependencies
  plugins/node/opentelemetry-instrumentation-mysql/package.json
  plugins/node/opentelemetry-instrumentation-mysql/src/utils.ts
Labels: pkg:instrumentation-mysql

#1458 fix(preact-example): update example to use latest otelcol/js-core
  examples/react-load/preact/docker/collector-config.yaml
  examples/react-load/preact/docker/docker-compose.yaml
  examples/react-load/preact/package.json
  examples/react-load/preact/src/web-tracer.js
Labels: bug, internal, pkg:plugin-react-load

#1425 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-web/CHANGELOG.md
  metapackages/auto-instrumentations-web/package.json
  packages/opentelemetry-host-metrics/CHANGELOG.md
  packages/opentelemetry-host-metrics/package.json
  plugins/node/opentelemetry-instrumentation-graphql/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-graphql/package.json
  plugins/node/opentelemetry-instrumentation-koa/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-redis/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/web/opentelemetry-instrumentation-document-load/CHANGELOG.md
  plugins/web/opentelemetry-instrumentation-document-load/package.json
Labels: autorelease: pending
