Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2023-06, with the labels that each got.

#1538 fix(nestjs): update dependency @nestjs/x to v9
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
Labels: pkg:instrumentation-nestjs-core

#1546 fix(ci): use npx to run lerna
  .github/workflows/peer-api.yaml
  .github/workflows/test-all-versions.yml
  scripts/check-release-please.mjs
  scripts/parse-lerna-scopes.mjs
Labels: internal, CI

#1534 fix(connect): Skip update HTTP's span name and update RpcMetadata's route instead
  plugins/node/opentelemetry-instrumentation-connect/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-connect/test/instrumentation.test.ts
Labels: pkg:instrumentation-connect
