Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2023-08, with the labels that each got.

#1537 fix(knex): nested queries result in wrong span names
  plugins/node/opentelemetry-instrumentation-knex/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-knex/src/utils.ts
  plugins/node/opentelemetry-instrumentation-knex/test/index.test.ts
Labels: pkg:instrumentation-knex

#1562 fix(redis-4): omit credentials from db.connection_string span attribute
  plugins/node/opentelemetry-instrumentation-redis-4/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis-4/src/utils.ts
  plugins/node/opentelemetry-instrumentation-redis-4/test/redis.test.ts
Labels: pkg:instrumentation-redis-4

#1555 fix(connect): fix wrong rpcMetada.route value not handle nested route
  plugins/node/opentelemetry-instrumentation-connect/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-connect/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-connect/src/utils.ts
  plugins/node/opentelemetry-instrumentation-connect/test/instrumentation.test.ts
  plugins/node/opentelemetry-instrumentation-connect/test/utils.test.ts
Labels: pkg:instrumentation-connect

#1365 feat: Add capacity information when applicable to dynamodb spans
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/dynamodb.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/dynamodb.test.ts
Labels: stale, pkg:instrumentation-aws-sdk

#1570 feat(hapi): Skip update HTTP's span name and update RpcMetadata's route instead
  plugins/node/opentelemetry-instrumentation-hapi/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-hapi/src/utils.ts
  plugins/node/opentelemetry-instrumentation-hapi/test/hapi.test.ts
Labels: pkg:instrumentation-hapi

#1571 feat(restify): Skip update HTTP's span name and update RpcMetadata's route instead
  plugins/node/opentelemetry-instrumentation-restify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-restify/test/restify.test.ts
Labels: pkg:instrumentation-restify

#1567 feat(koa): Skip update HTTP's span name and update RpcMetadata's route instead
  plugins/node/opentelemetry-instrumentation-koa/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-koa/test/koa.test.ts
Labels: pkg:instrumentation-koa

#1640 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  plugins/node/opentelemetry-instrumentation-generic-pool/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-generic-pool/package.json
Labels: autorelease: pending

#1654 fix(instrumentation-dns): use caret range for semver regular dependency
  plugins/node/opentelemetry-instrumentation-dns/package.json
Labels: pkg:instrumentation-dns

#1624 fix(fastify): Make sure consturctor patching works with esm
  plugins/node/opentelemetry-instrumentation-fastify/src/instrumentation.ts
Labels: pkg:instrumentation-fastify

#1655 chore(tedious): align supported versions in code tests and docs
  plugins/node/instrumentation-tedious/.tav.yml
  plugins/node/instrumentation-tedious/README.md
  plugins/node/instrumentation-tedious/package.json
  plugins/node/instrumentation-tedious/src/instrumentation.ts
Labels: pkg:instrumentation-tedious

#1651 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  plugins/node/opentelemetry-instrumentation-dns/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-dns/package.json
  plugins/node/opentelemetry-instrumentation-fastify/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
Labels: autorelease: pending
