Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2023-07, with the labels that each got.

#1556 fix(instrumentation-fastify): fix fastify typescript compilation issue
  plugins/node/opentelemetry-instrumentation-fastify/package.json
Labels: bug, CI, pkg:instrumentation-fastify

#1553 docs: document merge reqiurements
  CONTRIBUTING.md
Labels: internal

#1582 fix(aws-xray): align aws xray to use contrib-test-utils v0.34.0
  packages/opentelemetry-sampler-aws-xray/package.json
Labels: pkg:sampler-aws-xray

#1581 chore: upgrade nock@13.3.1 and re-enable test in node@18 for resource-detector-alibaba-cloud
  .github/workflows/test-all-versions.yml
  .github/workflows/unit-test.yml
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/package.json
Labels: pkg:resource-detector-alibaba-cloud

#1576 chore(restify): update restify version to 11.1.0 and re-enable unit test in node@18
  .github/workflows/test-all-versions.yml
  .github/workflows/unit-test.yml
  plugins/node/opentelemetry-instrumentation-restify/.tav.yml
  plugins/node/opentelemetry-instrumentation-restify/README.md
  plugins/node/opentelemetry-instrumentation-restify/package.json
  plugins/node/opentelemetry-instrumentation-restify/src/constants.ts
Labels: pkg:instrumentation-restify

#1252 feat(cucumber): add instrumentation for @cucumber/cucumber
  .github/component_owners.yml
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/README.md
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-node/src/utils.ts
  plugins/node/instrumentation-cucumber/.eslintignore
  plugins/node/instrumentation-cucumber/.eslintrc.js
  plugins/node/instrumentation-cucumber/.npmignore
  plugins/node/instrumentation-cucumber/.tav.yml
  plugins/node/instrumentation-cucumber/LICENSE
  plugins/node/instrumentation-cucumber/README.md
  plugins/node/instrumentation-cucumber/package.json
  plugins/node/instrumentation-cucumber/src/index.ts
  plugins/node/instrumentation-cucumber/src/instrumentation.ts
  plugins/node/instrumentation-cucumber/src/types.ts
  plugins/node/instrumentation-cucumber/test/.gitignore
  plugins/node/instrumentation-cucumber/test/cucumber.test.ts
  plugins/node/instrumentation-cucumber/test/features/step_definitions/steps.ts
  plugins/node/instrumentation-cucumber/test/features/support/world.ts
  plugins/node/instrumentation-cucumber/tsconfig.json
  release-please-config.json
Labels: pkg:instrumentation-cucumber
