Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2024-07, with the labels that each got.

#2314 fix(instr-mongodb): fix function patch missing one argument introduced in v6.8.0
  package-lock.json
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mongodb/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v5-v6.test.ts
Labels: bug, pkg:instrumentation-mongodb

#2294 fix(instr-express): fix handler patching for already patched router
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-express/test/express.test.ts
Labels: pkg:instrumentation-express

#1972 feat: Add the ability to use span links when consuming a message amqp plugin
  plugins/node/instrumentation-amqplib/README.md
  plugins/node/instrumentation-amqplib/src/amqplib.ts
  plugins/node/instrumentation-amqplib/src/types.ts
  plugins/node/instrumentation-amqplib/test/amqplib-callbacks.test.ts
  plugins/node/instrumentation-amqplib/test/amqplib-promise.test.ts
Labels: pkg:instrumentation-amqplib

#2338 docs(test-utils): fix package name in readme
  packages/opentelemetry-test-utils/README.md
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-sdk, pkg:instrumentation-cassandra-driver, pkg:instrumentation-fastify, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-socket.io, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils

#2344 fix(aws-sdk): add http status code attribute to aws sdk span if aws sdk v3 client exception occurs
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/aws-sdk.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/aws-sdk-v3.test.ts
Labels: pkg:instrumentation-aws-sdk

#2340 feat(auto-instrumentations-node): enable auto-instrumentation for KafkaJS
  metapackages/auto-instrumentations-node/README.md
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-node/src/utils.ts
  package-lock.json
Labels: pkg:auto-instrumentations-node

#2325 test(auto-instr-node): show result of setting both env vars
  metapackages/auto-instrumentations-node/README.md
  metapackages/auto-instrumentations-node/test/utils.test.ts
Labels: pkg:auto-instrumentations-node

#2289 chore: consistent and typed use of instrumentation config
  plugins/node/instrumentation-amqplib/src/amqplib.ts
  plugins/node/instrumentation-cucumber/src/instrumentation.ts
  plugins/node/instrumentation-dataloader/src/instrumentation.ts
  plugins/node/instrumentation-fs/src/instrumentation.ts
  plugins/node/instrumentation-kafkajs/src/instrumentation.ts
  plugins/node/instrumentation-mongoose/src/mongoose.ts
  plugins/node/instrumentation-runtime-node/src/instrumentation.ts
  plugins/node/instrumentation-socket.io/src/socket.io.ts
  plugins/node/instrumentation-tedious/src/instrumentation.ts
  plugins/node/instrumentation-undici/src/undici.ts
  plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/aws-sdk.ts
  plugins/node/opentelemetry-instrumentation-bunyan/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-cassandra/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-dns/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-fastify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-graphql/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-graphql/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-graphql/src/types.ts
  plugins/node/opentelemetry-instrumentation-graphql/src/utils.ts
  plugins/node/opentelemetry-instrumentation-ioredis/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-knex/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-koa/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-memcached/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mongodb/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mysql/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mysql2/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pino/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis-4/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-restify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-winston/src/instrumentation.ts
  plugins/web/opentelemetry-instrumentation-document-load/src/instrumentation.ts
  plugins/web/opentelemetry-instrumentation-long-task/src/instrumentation.ts
  plugins/web/opentelemetry-instrumentation-user-interaction/src/instrumentation.ts
Labels: stale, never-stale, pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:instrumentation-amqplib, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:instrumentation-runtime-node, pkg:instrumentation-undici, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2288 feat(instr-knex): implement requireParentSpan config flag
  plugins/node/opentelemetry-instrumentation-knex/README.md
  plugins/node/opentelemetry-instrumentation-knex/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-knex/src/types.ts
  plugins/node/opentelemetry-instrumentation-knex/test/index.test.ts
Labels: pkg:instrumentation-knex, pkg-status:unmaintained

#2323 chore: release main
  .release-please-manifest.json
  metapackages/auto-configuration-propagators/CHANGELOG.md
  metapackages/auto-configuration-propagators/package.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  plugins/node/instrumentation-amqplib/CHANGELOG.md
  plugins/node/instrumentation-amqplib/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-express/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-knex/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-knex/package.json
Labels: autorelease: pending, pkg:auto-instrumentations-node, pkg:instrumentation-amqplib, pkg:instrumentation-aws-sdk, pkg:instrumentation-express, pkg:instrumentation-knex, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled, pkg:auto-configuration-propagators

#2350 test: test with Node.js 22
  .github/workflows/test-all-versions.yml
  .github/workflows/unit-test.yml
  plugins/node/instrumentation-socket.io/test/socket.io.test.ts
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-docker, pkg:resource-detector-gcp, pkg:resource-detector-github, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:auto-instrumentations-web, pkg:host-metrics, pkg:id-generator-aws-xray, pkg:propagation-utils, pkg:contrib-test-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:plugin-react-load, pkg:propagator-instana, pkg:propagator-ot-trace, pkg:instrumentation-dataloader, pkg:browser-extension-autoinjection, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils, pkg:redis-common, pkg:sql-common, pkg:instrumentation-runtime-node, pkg:instrumentation-undici, pkg:instrumentation-kafkajs, pkg:auto-configuration-propagators
