Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2024-09, with the labels that each got.

#2409 chore(deps): update deps @opentelemetry/semantic-conventions to 1.27
  archive/opentelemetry-browser-extension-autoinjection/package.json
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/package.json
  detectors/node/opentelemetry-resource-detector-aws/package.json
  detectors/node/opentelemetry-resource-detector-azure/package.json
  detectors/node/opentelemetry-resource-detector-container/package.json
  detectors/node/opentelemetry-resource-detector-gcp/package.json
  detectors/node/opentelemetry-resource-detector-instana/package.json
  examples/connect/package.json
  examples/express/package.json
  examples/fastify/package.json
  examples/graphql/package.json
  examples/koa/package.json
  examples/memcached/package.json
  examples/mongodb/package.json
  examples/mysql/package.json
  examples/react-load/react/package.json
  examples/redis/package.json
  examples/web/package.json
  package-lock.json
  packages/opentelemetry-test-utils/package.json
  plugins/node/instrumentation-amqplib/package.json
  plugins/node/instrumentation-cucumber/package.json
  plugins/node/instrumentation-kafkajs/package.json
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-socket.io/package.json
  plugins/node/instrumentation-tedious/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-bunyan/package.json
  plugins/node/opentelemetry-instrumentation-cassandra/package.json
  plugins/node/opentelemetry-instrumentation-connect/package.json
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-graphql/package.json
  plugins/node/opentelemetry-instrumentation-hapi/package.json
  plugins/node/opentelemetry-instrumentation-ioredis/package.json
  plugins/node/opentelemetry-instrumentation-knex/package.json
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-memcached/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-mysql/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
  plugins/node/opentelemetry-instrumentation-net/package.json
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pino/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/node/opentelemetry-instrumentation-restify/package.json
  plugins/node/opentelemetry-instrumentation-router/package.json
  plugins/web/opentelemetry-instrumentation-document-load/package.json
Labels: dependencies, pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-restify, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-document-load, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils, has:sponsor, pkg-status:unmaintained

#2414 fix: actually exempt releases from unmaintained-autoclose
  .github/workflows/close-stale.yml
Labels: bug

#2415 chore: mark AWS vendor packages as unmaintained
  .github/component_owners.yml
  detectors/node/opentelemetry-resource-detector-aws/README.md
  incubator/opentelemetry-sampler-aws-xray/README.md
  packages/opentelemetry-id-generator-aws-xray/README.md
  plugins/node/opentelemetry-instrumentation-aws-lambda/README.md
Labels: pkg:resource-detector-aws, pkg:id-generator-aws-xray, pkg:instrumentation-aws-lambda

#2399 fix(instrumentation-redis-4): avoid diag.error spam when configured client URL is the empty string
  plugins/node/opentelemetry-instrumentation-redis-4/src/utils.ts
  plugins/node/opentelemetry-instrumentation-redis-4/test/redis.test.ts
Labels: pkg:instrumentation-redis-4

#2403 feat: Record AWS Lambda coldstarts
  plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-aws-lambda/src/types.ts
  plugins/node/opentelemetry-instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
Labels: pkg:instrumentation-aws-lambda, pkg-status:unmaintained

#2421 test(instrumentation-express): update to use correct span kind enum; also fix test flakiness
  packages/opentelemetry-test-utils/src/test-fixtures.ts
  plugins/node/opentelemetry-instrumentation-express/test/express.test.ts
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-sdk, pkg:instrumentation-cassandra-driver, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-socket.io, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils

#2337 feat(detector-instana)!: change implementation to DetectorSync interface
  detectors/node/opentelemetry-resource-detector-instana/src/detectors/InstanaAgentDetector.ts
  detectors/node/opentelemetry-resource-detector-instana/test/InstanaAgentDetectorUnitTest.test.ts
Labels: pkg:resource-detector-instana

#2425 fix: auto-config of baggage propagator
  metapackages/auto-configuration-propagators/src/utils.ts
Labels: pkg:auto-configuration-propagators

#2424 fix(detector-gcp): suppress internal tracing
  detectors/node/opentelemetry-resource-detector-gcp/package.json
  detectors/node/opentelemetry-resource-detector-gcp/src/detectors/GcpDetector.ts
  detectors/node/opentelemetry-resource-detector-gcp/test/detectors/GcpDetectorIntegration.test.ts
Labels: pkg:resource-detector-gcp

#2429 fix(detector-alibaba): suppres internal tracing
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/package.json
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/src/detectors/AlibabaCloudEcsDetector.ts
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/test/detectors/AlibabaCloudEcsDetectorIntegration.test.ts
Labels: pkg:resource-detector-alibaba-cloud

#2428 fix(host-metrics): widen MeterProvider type restriction in BaseMetrics class
  packages/opentelemetry-host-metrics/src/BaseMetrics.ts
Labels: pkg:host-metrics

#2430 fix(detector-container): suppress internal tracing
  detectors/node/opentelemetry-resource-detector-container/src/detectors/ContainerDetector.ts
  detectors/node/opentelemetry-resource-detector-container/test/ContainerDetectorIntegration.test.ts
Labels: pkg:resource-detector-container

#2433 fix(detector-aws): suppress internal tracing for all detectors
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsBeanstalkDetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEc2DetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEcsDetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEksDetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/test/detectors/AwsSuppressTracing.test.ts
Labels: pkg:resource-detector-aws

#2447 test: update mssql envvar to MSSQL_SA_PASSWORD
  .github/workflows/test-all-versions.yml
  .github/workflows/unit-test.yml
  packages/opentelemetry-test-utils/src/test-utils.ts
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-sdk, pkg:instrumentation-cassandra-driver, pkg:instrumentation-fastify, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-socket.io, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils

#2380 feat(instrumentation-pg): implementation of metric operation duration
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/src/utils.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
Labels: pkg:instrumentation-pg

#2452 chore(instrumentation-fastify): mark instrumentation as unmaintained
  .github/component-label-map.yml
  .github/component_owners.yml
Labels: pkg:instrumentation-fastify
