Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2024-04, with the labels that each got.

#2033 feat(koa): Use exported strings for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-koa/src/utils.ts
  plugins/node/opentelemetry-instrumentation-koa/test/koa.test.ts
Labels: pkg:instrumentation-koa

#2046 chore(resource-detector-alibaba): use exported strings for attributes
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/package.json
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/src/detectors/AlibabaCloudEcsDetector.ts
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/test/detectors/AlibabaCloudEcsDetector.test.ts
  package-lock.json
Labels: pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws

#2053 chore(opentelemetry-instrumentation-pg): use exported strings
  package-lock.json
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pg/src/utils.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/utils.test.ts
Labels: pkg:instrumentation-pg

#2076 feat(deps): update otel-js experimental to 0.50.0
  detectors/node/opentelemetry-resource-detector-instana/package.json
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-web/package.json
  package-lock.json
  packages/opentelemetry-test-utils/package.json
  packages/winston-transport/package.json
  plugins/node/instrumentation-amqplib/package.json
  plugins/node/instrumentation-cucumber/package.json
  plugins/node/instrumentation-dataloader/package.json
  plugins/node/instrumentation-fs/package.json
  plugins/node/instrumentation-lru-memoizer/package.json
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-runtime-node/package.json
  plugins/node/instrumentation-socket.io/package.json
  plugins/node/instrumentation-tedious/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-bunyan/package.json
  plugins/node/opentelemetry-instrumentation-cassandra/package.json
  plugins/node/opentelemetry-instrumentation-connect/package.json
  plugins/node/opentelemetry-instrumentation-dns/package.json
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-generic-pool/package.json
  plugins/node/opentelemetry-instrumentation-graphql/package.json
  plugins/node/opentelemetry-instrumentation-hapi/package.json
  plugins/node/opentelemetry-instrumentation-ioredis/package.json
  plugins/node/opentelemetry-instrumentation-knex/package.json
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-memcached/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-mysql/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
  plugins/node/opentelemetry-instrumentation-net/package.json
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pino/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/node/opentelemetry-instrumentation-restify/package.json
  plugins/node/opentelemetry-instrumentation-router/package.json
  plugins/node/opentelemetry-instrumentation-winston/package.json
  plugins/web/opentelemetry-instrumentation-document-load/package.json
  plugins/web/opentelemetry-instrumentation-long-task/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/package.json
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:auto-instrumentations-web, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:instrumentation-cassandra, pkg:test-utils, pkg:instrumentation-runtime-node

#2047 chore(resource-detector-aws): use exported strings for attributes
  detectors/node/opentelemetry-resource-detector-aws/package.json
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsBeanstalkDetector.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEc2Detector.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEcsDetector.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEksDetector.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsLambdaDetector.ts
  detectors/node/opentelemetry-resource-detector-aws/test/detectors/AwsBeanstalkDetector.test.ts
  detectors/node/opentelemetry-resource-detector-aws/test/detectors/AwsEcsDetector.test.ts
  package-lock.json
Labels: pkg:resource-detector-aws

#2078 refactor(instr-fastify): use exported strings for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-fastify/README.md
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-fastify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-fastify/test/fixtures/use-fastify.mjs
  plugins/node/opentelemetry-instrumentation-fastify/test/instrumentation.test.ts
Labels: pkg:instrumentation-fastify

#2079 fix(winston-transport): Typescript issue with OpenTelemetryTransportV3 not assignable to TransportStream
  packages/winston-transport/src/OpenTelemetryTransportV3.ts
Labels: pkg:instrumentation-winston

#2048 chore(resource-detector-azure): use exported strings for attributes
  detectors/node/opentelemetry-resource-detector-azure/package.json
  detectors/node/opentelemetry-resource-detector-azure/src/detectors/AzureAppServiceDetector.ts
  detectors/node/opentelemetry-resource-detector-azure/src/detectors/AzureFunctionsDetector.ts
  detectors/node/opentelemetry-resource-detector-azure/src/detectors/AzureVmDetector.ts
  detectors/node/opentelemetry-resource-detector-azure/test/detectors/AzureAppServiceDetector.test.ts
  detectors/node/opentelemetry-resource-detector-azure/test/detectors/AzureFunctionsDetector.test.ts
  package-lock.json
Labels: pkg:resource-detector-azure

#2051 chore(resource-detector-instana): use exported strings for attributes
  detectors/node/opentelemetry-resource-detector-instana/README.md
  detectors/node/opentelemetry-resource-detector-instana/package.json
  detectors/node/opentelemetry-resource-detector-instana/src/detectors/InstanaAgentDetector.ts
  detectors/node/opentelemetry-resource-detector-instana/test/InstanaAgentDetectorIntegrationTest.test.ts
  package-lock.json
Labels: pkg:resource-detector-instana

#2062 docs(resource-detector-gcp): update readme for gcp resource detector
  detectors/node/opentelemetry-resource-detector-gcp/README.md
Labels: pkg:resource-detector-gcp

#2080 chore(test-utils): update semantic resource attributes
  package-lock.json
  packages/opentelemetry-test-utils/README.md
  packages/opentelemetry-test-utils/package.json
  packages/opentelemetry-test-utils/src/instrumentations/index.ts
  packages/opentelemetry-test-utils/src/resource-assertions.ts
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-sdk, pkg:instrumentation-fastify, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-socket.io, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:instrumentation-cassandra, pkg:test-utils

#2050 chore(resource-detector-gcp): use exported strings for attributes
  detectors/node/opentelemetry-resource-detector-gcp/package.json
  detectors/node/opentelemetry-resource-detector-gcp/src/detectors/GcpDetector.ts
  package-lock.json
Labels: pkg:resource-detector-gcp

#2061 docs(resource-detector-container): update readme for container resource detector
  detectors/node/opentelemetry-resource-detector-container/README.md
Labels: pkg:resource-detector-container

#2060 docs(resource-detector-aws): update readme for aws resource detector
  detectors/node/opentelemetry-resource-detector-aws/README.md
Labels: pkg:resource-detector-aws

#2063 docs(resource-detector-instana): update readme for instana resource detector
  detectors/node/opentelemetry-resource-detector-instana/README.md
Labels: pkg:resource-detector-instana

#2057 docs(resource-detector-azure): update readme for azure resource detector
  detectors/node/opentelemetry-resource-detector-azure/README.md
Labels: pkg:resource-detector-azure

#2064 docs(resource-detector-github): update readme for github resource detector
  detectors/node/opentelemetry-resource-detector-github/README.md
Labels: pkg:resource-detector-github

#2069 fix(instrumentation-ioredis): make @types/ioredis a devDependency
  package-lock.json
  plugins/node/opentelemetry-instrumentation-ioredis/package.json
Labels: pkg:instrumentation-ioredis

#2086 refactor(instr-amqplib): use exported strings for attributes
  package-lock.json
  plugins/node/instrumentation-amqplib/README.md
  plugins/node/instrumentation-amqplib/package.json
  plugins/node/instrumentation-amqplib/src/amqplib.ts
  plugins/node/instrumentation-amqplib/src/utils.ts
Labels: pkg:instrumentation-amqplib

#2105 fix: revert modifications to Apache license
  LICENSE
  archive/opentelemetry-browser-extension-autoinjection/LICENSE
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/LICENSE
  detectors/node/opentelemetry-resource-detector-aws/LICENSE
  detectors/node/opentelemetry-resource-detector-azure/LICENSE
  detectors/node/opentelemetry-resource-detector-container/LICENSE
  detectors/node/opentelemetry-resource-detector-gcp/LICENSE
  detectors/node/opentelemetry-resource-detector-github/LICENSE
  detectors/node/opentelemetry-resource-detector-instana/LICENSE
  incubator/opentelemetry-sampler-aws-xray/LICENSE
  metapackages/auto-instrumentations-node/LICENSE
  metapackages/auto-instrumentations-web/LICENSE
  packages/opentelemetry-host-metrics/LICENSE
  packages/opentelemetry-id-generator-aws-xray/LICENSE
  packages/opentelemetry-propagation-utils/LICENSE
  packages/opentelemetry-redis-common/LICENSE
  packages/opentelemetry-sql-common/LICENSE
  packages/opentelemetry-test-utils/LICENSE
  packages/winston-transport/LICENSE
  plugins/node/instrumentation-amqplib/LICENSE
  plugins/node/instrumentation-cucumber/LICENSE
  plugins/node/instrumentation-dataloader/LICENSE
  plugins/node/instrumentation-lru-memoizer/LICENSE
  plugins/node/instrumentation-mongoose/LICENSE
  plugins/node/instrumentation-runtime-node/LICENSE
  plugins/node/instrumentation-tedious/LICENSE
  plugins/node/opentelemetry-instrumentation-aws-lambda/LICENSE
  plugins/node/opentelemetry-instrumentation-aws-sdk/LICENSE
  plugins/node/opentelemetry-instrumentation-bunyan/LICENSE
  plugins/node/opentelemetry-instrumentation-cassandra/LICENSE
  plugins/node/opentelemetry-instrumentation-connect/LICENSE
  plugins/node/opentelemetry-instrumentation-dns/LICENSE
  plugins/node/opentelemetry-instrumentation-express/LICENSE
  plugins/node/opentelemetry-instrumentation-fastify/LICENSE
  plugins/node/opentelemetry-instrumentation-generic-pool/LICENSE
  plugins/node/opentelemetry-instrumentation-graphql/LICENSE
  plugins/node/opentelemetry-instrumentation-hapi/LICENSE
  plugins/node/opentelemetry-instrumentation-ioredis/LICENSE
  plugins/node/opentelemetry-instrumentation-knex/LICENSE
  plugins/node/opentelemetry-instrumentation-koa/LICENSE
  plugins/node/opentelemetry-instrumentation-memcached/LICENSE
  plugins/node/opentelemetry-instrumentation-mongodb/LICENSE
  plugins/node/opentelemetry-instrumentation-mysql/LICENSE
  plugins/node/opentelemetry-instrumentation-mysql2/LICENSE
  plugins/node/opentelemetry-instrumentation-nestjs-core/LICENSE
  plugins/node/opentelemetry-instrumentation-net/LICENSE
  plugins/node/opentelemetry-instrumentation-pg/LICENSE
  plugins/node/opentelemetry-instrumentation-pino/LICENSE
  plugins/node/opentelemetry-instrumentation-redis-4/LICENSE
  plugins/node/opentelemetry-instrumentation-redis/LICENSE
  plugins/node/opentelemetry-instrumentation-restify/LICENSE
  plugins/node/opentelemetry-instrumentation-router/LICENSE
  plugins/node/opentelemetry-instrumentation-winston/LICENSE
  plugins/web/opentelemetry-instrumentation-document-load/LICENSE
  plugins/web/opentelemetry-instrumentation-user-interaction/LICENSE
  plugins/web/opentelemetry-plugin-react-load/LICENSE
  propagators/opentelemetry-propagator-aws-xray/LICENSE
  propagators/opentelemetry-propagator-grpc-census-binary/LICENSE
  propagators/opentelemetry-propagator-instana/LICENSE
  propagators/opentelemetry-propagator-ot-trace/LICENSE
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-github, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:auto-instrumentations-web, pkg:host-metrics, pkg:id-generator-aws-xray, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-user-interaction, pkg:plugin-react-load, pkg:propagator-aws-xray, pkg:propagator-grpc-census-binary, pkg:propagator-instana, pkg:propagator-ot-trace, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:instrumentation-cassandra, pkg:test-utils, pkg:redis-common, pkg:sql-common, pkg:instrumentation-runtime-node

#2075 refactor(instrumentation-redis): Use exported semconv strings
  package-lock.json
  plugins/node/opentelemetry-instrumentation-redis/README.md
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/node/opentelemetry-instrumentation-redis/src/utils.ts
  plugins/node/opentelemetry-instrumentation-redis/test/redis.test.ts
Labels: pkg:instrumentation-redis

#2099 refactor(instr-router): use exported strings for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-router/README.md
  plugins/node/opentelemetry-instrumentation-router/package.json
  plugins/node/opentelemetry-instrumentation-router/src/instrumentation.ts
Labels: pkg:instrumentation-router

#2103 refactor(instr-mongoose): use exported strings for attributes
  package-lock.json
  plugins/node/instrumentation-mongoose/README.md
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-mongoose/src/mongoose.ts
  plugins/node/instrumentation-mongoose/src/utils.ts
  plugins/node/instrumentation-mongoose/test/asserts.ts
  plugins/node/instrumentation-mongoose/test/mongoose.test.ts
Labels: pkg:instrumentation-mongoose

#2098 refactor(instr-restify): use exported strings for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-restify/README.md
  plugins/node/opentelemetry-instrumentation-restify/package.json
  plugins/node/opentelemetry-instrumentation-restify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-restify/test/restify.test.ts
Labels: pkg:instrumentation-restify

#2111 test(instr-undici): fix TAV failures with Node.js 14 and 16
  plugins/node/instrumentation-undici/test/undici.test.ts
Labels: pkg:instrumentation-undici

#2109 refactor(instr-knex): use exported strings for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-knex/README.md
  plugins/node/opentelemetry-instrumentation-knex/package.json
  plugins/node/opentelemetry-instrumentation-knex/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-knex/src/utils.ts
Labels: pkg:instrumentation-knex

#2016 feat(instrumentation-winston): Allow log level to be configured for log sending
  package-lock.json
  packages/winston-transport/src/OpenTelemetryTransportV3.ts
  plugins/node/opentelemetry-instrumentation-winston/README.md
  plugins/node/opentelemetry-instrumentation-winston/package.json
  plugins/node/opentelemetry-instrumentation-winston/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-winston/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-winston/src/types.ts
  plugins/node/opentelemetry-instrumentation-winston/test/winston.test.ts
Labels: pkg:instrumentation-winston

#2115 refactor(instr-mysql2): use exported strings for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-mysql2/README.md
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mysql2/src/utils.ts
  plugins/node/opentelemetry-instrumentation-mysql2/test/mysql.test.ts
Labels: pkg:instrumentation-mysql2

#2112 refactor(instr-mysql): update semantic conventions
  package-lock.json
  plugins/node/opentelemetry-instrumentation-mysql/README.md
  plugins/node/opentelemetry-instrumentation-mysql/package.json
  plugins/node/opentelemetry-instrumentation-mysql/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mysql/src/utils.ts
  plugins/node/opentelemetry-instrumentation-mysql/test/index.test.ts
Labels: pkg:instrumentation-mysql

#2141 chore(instrumentation-fs): remove unused semconv package
  package-lock.json
  plugins/node/instrumentation-fs/package.json
Labels: pkg:instrumentation-fs

#2132 docs: remove `key` column on readme
  plugins/node/instrumentation-undici/README.md
  plugins/node/opentelemetry-instrumentation-express/README.md
  plugins/node/opentelemetry-instrumentation-fastify/README.md
  plugins/node/opentelemetry-instrumentation-redis/README.md
  plugins/web/opentelemetry-instrumentation-document-load/README.md
Labels: pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-redis, pkg:instrumentation-document-load, pkg:instrumentation-undici

#2142 refactor(instr-aws-sdk): use exported strings for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/README.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/aws-sdk.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/dynamodb.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/lambda.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/sns.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/sqs.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/utils.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/aws-sdk-v2.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/aws-sdk-v3.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/dynamodb.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/lambda.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/sns.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/sqs.test.ts
Labels: pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk

#2145 test(instr-document-load): fix test to allow missing network span events
  plugins/web/opentelemetry-instrumentation-document-load/test/documentLoad.test.ts
Labels: pkg:instrumentation-document-load

#2107 chore: remove patch and unpatch diag from instrumentations
  plugins/node/instrumentation-cucumber/src/instrumentation.ts
  plugins/node/instrumentation-dataloader/src/instrumentation.ts
  plugins/node/instrumentation-fs/src/instrumentation.ts
  plugins/node/instrumentation-lru-memoizer/src/instrumentation.ts
  plugins/node/instrumentation-mongoose/src/mongoose.ts
  plugins/node/instrumentation-socket.io/src/socket.io.ts
  plugins/node/instrumentation-tedious/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/aws-sdk.ts
  plugins/node/opentelemetry-instrumentation-bunyan/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-cassandra/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-connect/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-dns/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-fastify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-generic-pool/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-graphql/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-hapi/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-ioredis/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-knex/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-koa/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-memcached/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mongodb/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mysql/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mysql2/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-nestjs-core/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-net/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pino/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis-4/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-restify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-router/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-winston/src/instrumentation.ts
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:instrumentation-cassandra

#2147 refactor(instr-socket.io): use exported strings for attributes
  package-lock.json
  plugins/node/instrumentation-socket.io/README.md
  plugins/node/instrumentation-socket.io/package.json
  plugins/node/instrumentation-socket.io/src/socket.io.ts
  plugins/node/instrumentation-socket.io/test/socket.io.test.ts
Labels: pkg:instrumentation-socket.io

#2144 refactor(instr-tedious): use exported strings for attributes
  package-lock.json
  plugins/node/instrumentation-tedious/README.md
  plugins/node/instrumentation-tedious/package.json
  plugins/node/instrumentation-tedious/src/instrumentation.ts
  plugins/node/instrumentation-tedious/test/instrumentation.test.ts
Labels: pkg:instrumentation-tedious

#2143 refactor(instr-cucumber): use exported strings for attributes
  package-lock.json
  plugins/node/instrumentation-cucumber/README.md
  plugins/node/instrumentation-cucumber/package.json
  plugins/node/instrumentation-cucumber/src/instrumentation.ts
  plugins/node/instrumentation-cucumber/test/cucumber.test.ts
Labels: pkg:instrumentation-cucumber

#2087 perf(instrumentation-nestjs-core): extract reusable span attributes to outer scope
  plugins/node/opentelemetry-instrumentation-nestjs-core/src/instrumentation.ts
Labels: pkg:instrumentation-nestjs-core

#1985 feat(instrumentation-hapi): support v21
  package-lock.json
  plugins/node/opentelemetry-instrumentation-hapi/.tav.yml
  plugins/node/opentelemetry-instrumentation-hapi/README.md
  plugins/node/opentelemetry-instrumentation-hapi/package.json
  plugins/node/opentelemetry-instrumentation-hapi/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-hapi/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-hapi/src/utils.ts
  plugins/node/opentelemetry-instrumentation-hapi/test/hapi.test.ts
Labels: pkg:instrumentation-hapi

#2131 feat(auto-instrumentation-node): add undici instrumentation
  metapackages/auto-instrumentations-node/README.md
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-node/src/utils.ts
  package-lock.json
Labels: pkg:auto-instrumentations-node

#2165 chore: remove skipLibCheck: true from tsconfigs where it is not necessary
  metapackages/auto-instrumentations-web/tsconfig.esm.json
  metapackages/auto-instrumentations-web/tsconfig.esnext.json
  metapackages/auto-instrumentations-web/tsconfig.json
  plugins/node/instrumentation-cucumber/tsconfig.json
  plugins/node/instrumentation-mongoose/tsconfig.json
  plugins/node/opentelemetry-instrumentation-mongodb/tsconfig.json
  plugins/web/opentelemetry-instrumentation-user-interaction/tsconfig.esm.json
  plugins/web/opentelemetry-instrumentation-user-interaction/tsconfig.esnext.json
  plugins/web/opentelemetry-instrumentation-user-interaction/tsconfig.json
Labels: pkg:auto-instrumentations-web, pkg:instrumentation-mongoose, pkg:instrumentation-mongodb, pkg:instrumentation-user-interaction, pkg:instrumentation-cucumber

#2163 feat(pino): support new pino version ^9.0.0
  plugins/node/opentelemetry-instrumentation-pino/.tav.yml
  plugins/node/opentelemetry-instrumentation-pino/README.md
  plugins/node/opentelemetry-instrumentation-pino/src/instrumentation.ts
Labels: pkg:instrumentation-pino
