Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2024-11, with the labels that each got.

#2511 chore: fix broken links for aws propgators
  metapackages/auto-configuration-propagators/README.md
Labels: pkg:auto-configuration-propagators

#2369 feat(aws-lambda)!: Remove explicit x-ray context in favor of global propagator
  package-lock.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/README.md
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-aws-lambda/src/types.ts
  plugins/node/opentelemetry-instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
Labels: pkg:instrumentation-aws-lambda

#2451 fix(instrumentation-mysql): fix test for mysql2 v3 (#2168)
  package-lock.json
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/test/mysql.test.ts
Labels: bug, pkg:instrumentation-mysql2, pkg-status:unmaintained

#2361 feat(aws-sdk): add s3 and kinesis service extensions for aws-sdk instrumentation
  package-lock.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/enums.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/ServicesExtensions.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/kinesis.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/s3.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/utils.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/aws-sdk-v3.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/kinesis.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/mock-responses/kinesis-describe-stream.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/s3.test.ts
Labels: pkg:instrumentation-aws-sdk

#2456 fix(pg): Do not add SQLCommenter comments to prepared statements
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
Labels: pkg:instrumentation-pg

#2517 docs(instrumentation-router): correct import statement
  plugins/node/opentelemetry-instrumentation-router/README.md
Labels: pkg:instrumentation-router, pkg-status:unmaintained

#2506 chore: update component owner for AWS to jj22ee
  .github/component_owners.yml
  detectors/node/opentelemetry-resource-detector-aws/README.md
  incubator/opentelemetry-sampler-aws-xray/README.md
  packages/opentelemetry-id-generator-aws-xray/README.md
  plugins/node/opentelemetry-instrumentation-aws-lambda/README.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/README.md
  propagators/propagator-aws-xray/README.md
Labels: pkg:resource-detector-aws, pkg:id-generator-aws-xray, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled, pkg:propagator-aws-xray

#2508 feat(instrumentation-aws-lambda): take care of ESM based (`.mjs`) handlers
  plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts
Labels: pkg:instrumentation-aws-lambda

#2518 fix(instrumentation-undici): fix a possible crash if the request path is a full URL
  plugins/node/instrumentation-undici/src/undici.ts
  plugins/node/instrumentation-undici/test/undici.test.ts
Labels: pkg:instrumentation-undici

#2507 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  plugins/node/instrumentation-runtime-node/CHANGELOG.md
  plugins/node/instrumentation-runtime-node/package.json
  plugins/node/instrumentation-undici/CHANGELOG.md
  plugins/node/instrumentation-undici/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-pg/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-pg/package.json
Labels: autorelease: pending, pkg:instrumentation-mysql2, pkg:auto-instrumentations-node, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-pg, pkg:instrumentation-runtime-node, pkg:instrumentation-undici, pkg-status:unmaintained

#2521 chore(deps): update deps matching "@opentelemetry/*"
  package-lock.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
Labels: pkg:instrumentation-aws-lambda

#2529 docs(multiple): update readme for semantic convention
  plugins/node/instrumentation-dataloader/README.md
  plugins/node/instrumentation-fs/README.md
  plugins/web/opentelemetry-instrumentation-long-task/README.md
  plugins/web/opentelemetry-instrumentation-user-interaction/README.md
Labels: pkg:instrumentation-fs, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:instrumentation-dataloader, contribfest, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2535 feat(deps): update deps matching '@opentelemetry/*'
  detectors/node/opentelemetry-resource-detector-aws/package.json
  detectors/node/opentelemetry-resource-detector-azure/package.json
  detectors/node/opentelemetry-resource-detector-gcp/package.json
  detectors/node/opentelemetry-resource-detector-instana/package.json
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-web/package.json
  package-lock.json
  packages/opentelemetry-test-utils/package.json
  packages/winston-transport/package.json
  plugins/node/instrumentation-amqplib/package.json
  plugins/node/instrumentation-cucumber/package.json
  plugins/node/instrumentation-dataloader/package.json
  plugins/node/instrumentation-fs/package.json
  plugins/node/instrumentation-kafkajs/package.json
  plugins/node/instrumentation-lru-memoizer/package.json
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-runtime-node/package.json
  plugins/node/instrumentation-socket.io/package.json
  plugins/node/instrumentation-tedious/package.json
  plugins/node/instrumentation-undici/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-bunyan/package.json
  plugins/node/opentelemetry-instrumentation-cassandra/package.json
  plugins/node/opentelemetry-instrumentation-connect/package.json
  plugins/node/opentelemetry-instrumentation-dns/package.json
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-generic-pool/package.json
  plugins/node/opentelemetry-instrumentation-graphql/package.json
  plugins/node/opentelemetry-instrumentation-hapi/package.json
  plugins/node/opentelemetry-instrumentation-ioredis/package.json
  plugins/node/opentelemetry-instrumentation-knex/package.json
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-memcached/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-mysql/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
  plugins/node/opentelemetry-instrumentation-net/package.json
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pino/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/node/opentelemetry-instrumentation-restify/package.json
  plugins/node/opentelemetry-instrumentation-router/package.json
  plugins/node/opentelemetry-instrumentation-winston/package.json
  plugins/web/opentelemetry-instrumentation-document-load/package.json
  plugins/web/opentelemetry-instrumentation-long-task/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/package.json
Labels: dependencies, pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:auto-instrumentations-web, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils, pkg:instrumentation-runtime-node, pkg:instrumentation-undici, pkg-status:unmaintained

#2551 chore(aws): replace deprecated substr with substring
  plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/sns.ts
Labels: pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk

#2532 chore: Update the express example
  examples/express/README.md
  examples/express/images/zipkin.jpg
  examples/express/package.json
  examples/express/src/tracer.ts
Labels: documentation, pkg:instrumentation-express

#2553 chore: replace deprecated substr() with substring()
  plugins/node/opentelemetry-instrumentation-cassandra/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-cassandra/test/cassandra-driver.test.ts
  plugins/node/opentelemetry-instrumentation-fastify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-knex/src/utils.ts
  plugins/node/opentelemetry-instrumentation-knex/test/index.test.ts
  propagators/opentelemetry-propagator-ot-trace/src/OTTracePropagator.ts
Labels: pkg:instrumentation-cassandra-driver, pkg:instrumentation-fastify, pkg:instrumentation-knex, pkg:propagator-ot-trace, has:sponsor, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled
