Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2024-10, with the labels that each got.

#2460 feat(instrumentation-fastify): Enable Fastify v5
  plugins/node/opentelemetry-instrumentation-fastify/.tav.yml
  plugins/node/opentelemetry-instrumentation-fastify/src/instrumentation.ts
Labels: pkg:instrumentation-fastify, has:sponsor, pkg-status:unmaintained

#2444 chore(detector-contrainer): remove orphan codecov script
  detectors/node/opentelemetry-resource-detector-container/package.json
Labels: pkg:resource-detector-container

#2420 chore: release main
  .release-please-manifest.json
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/package.json
  detectors/node/opentelemetry-resource-detector-aws/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-aws/package.json
  detectors/node/opentelemetry-resource-detector-container/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-container/package.json
  detectors/node/opentelemetry-resource-detector-gcp/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-gcp/package.json
  detectors/node/opentelemetry-resource-detector-instana/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-instana/package.json
  metapackages/auto-configuration-propagators/CHANGELOG.md
  metapackages/auto-configuration-propagators/package.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  packages/opentelemetry-host-metrics/CHANGELOG.md
  packages/opentelemetry-host-metrics/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-express/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-fastify/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-pg/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
Labels: autorelease: pending, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:host-metrics, pkg:instrumentation-aws-lambda, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-pg, pkg:instrumentation-redis-4, pkg:resource-detector-container, pkg-status:unmaintained, pkg:auto-configuration-propagators

#2457 refactor(instr-undici): avoid use of deprecated APIs for diagnostic channels
  plugins/node/instrumentation-undici/src/internal-types.ts
  plugins/node/instrumentation-undici/src/undici.ts
Labels: pkg:instrumentation-undici

#2473 fix: add missing @opentelemetry/core dependency
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/package.json
  detectors/node/opentelemetry-resource-detector-container/package.json
  package-lock.json
  plugins/node/opentelemetry-instrumentation-pg/package.json
Labels: pkg:resource-detector-alibaba-cloud, pkg:instrumentation-pg, pkg:resource-detector-container

#2474 chore: release main
  .release-please-manifest.json
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/package.json
  detectors/node/opentelemetry-resource-detector-container/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-container/package.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  plugins/node/opentelemetry-instrumentation-pg/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-pg/package.json
Labels: autorelease: pending, pkg:resource-detector-alibaba-cloud, pkg:auto-instrumentations-node, pkg:instrumentation-pg, pkg:resource-detector-container

#2478 chore(instrumentation-pg): use done on test
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
Labels: pkg:instrumentation-pg

#2448 fix(detector-container): properly detect container ID when using Podman
  detectors/node/opentelemetry-resource-detector-container/src/detectors/ContainerDetector.ts
  detectors/node/opentelemetry-resource-detector-container/src/detectors/utils.ts
  detectors/node/opentelemetry-resource-detector-container/test/ContainerDetector.test.ts
Labels: pkg:resource-detector-container

#2464 chore: update test-all-versions configs to test fewer package versions
  package-lock.json
  plugins/node/instrumentation-amqplib/.tav.yml
  plugins/node/instrumentation-cucumber/.tav.yml
  plugins/node/instrumentation-dataloader/.tav.yml
  plugins/node/instrumentation-lru-memoizer/.tav.yml
  plugins/node/instrumentation-socket.io/.tav.yml
  plugins/node/opentelemetry-instrumentation-aws-sdk/.tav.yml
  plugins/node/opentelemetry-instrumentation-bunyan/.tav.yml
  plugins/node/opentelemetry-instrumentation-express/.tav.yml
  plugins/node/opentelemetry-instrumentation-fastify/.tav.yml
  plugins/node/opentelemetry-instrumentation-graphql/.tav.yml
  plugins/node/opentelemetry-instrumentation-hapi/.tav.yml
  plugins/node/opentelemetry-instrumentation-ioredis/.tav.yml
  plugins/node/opentelemetry-instrumentation-koa/.tav.yml
  plugins/node/opentelemetry-instrumentation-mongodb/.tav.yml
  plugins/node/opentelemetry-instrumentation-mysql2/.tav.yml
  plugins/node/opentelemetry-instrumentation-nestjs-core/.tav.yml
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/scripts/test-all-versions
  plugins/node/opentelemetry-instrumentation-nestjs-core/test/setup.ts
  plugins/node/opentelemetry-instrumentation-pg/.tav.yml
  plugins/node/opentelemetry-instrumentation-pg/README.md
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
  plugins/node/opentelemetry-instrumentation-pino/.tav.yml
  plugins/node/opentelemetry-instrumentation-redis-4/.tav.yml
  plugins/node/opentelemetry-instrumentation-redis/.tav.yml
  plugins/node/opentelemetry-instrumentation-restify/.tav.yml
  plugins/node/opentelemetry-instrumentation-restify/README.md
  plugins/node/opentelemetry-instrumentation-restify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-restify/test/restify.test.ts
  plugins/node/opentelemetry-instrumentation-winston/.tav.yml
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql2, pkg:instrumentation-restify, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-hapi, pkg:instrumentation-koa, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-winston, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, has:sponsor, pkg-status:unmaintained

#2467 feat(auto-instrumentations-node)!: disable @opentelemetry/instrumentation-fs by default
  metapackages/auto-instrumentations-node/README.md
  metapackages/auto-instrumentations-node/src/utils.ts
  metapackages/auto-instrumentations-node/test/utils.test.ts
Labels: pkg:auto-instrumentations-node

#2475 feat(instrumentation-pg): add operation name attribute to db duration metric
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/src/utils.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
Labels: pkg:instrumentation-pg

#2484 fix(instrumentation-pg): not add duplicate listeners to pg pool
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-pg/src/utils.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
Labels: bug, priority:p1, pkg:instrumentation-pg

#2483 chore: release main
  .release-please-manifest.json
  detectors/node/opentelemetry-resource-detector-container/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-container/package.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  plugins/node/opentelemetry-instrumentation-pg/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-pg/package.json
Labels: autorelease: pending, pkg:auto-instrumentations-node, pkg:instrumentation-pg, pkg:resource-detector-container

#2495 fix: change span names for socket-io
  plugins/node/instrumentation-socket.io/src/socket.io.ts
  plugins/node/instrumentation-socket.io/test/socket.io.test.ts
  plugins/node/instrumentation-socket.io/test/utils.ts
Labels: pkg:instrumentation-socket.io

#2470 refactor(instrumentation-mysql2): improve performance of getSpanName using substring
  plugins/node/opentelemetry-instrumentation-mysql/src/utils.ts
  plugins/node/opentelemetry-instrumentation-mysql/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-mysql2/src/utils.ts
Labels: pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2480 fix(instrumentation-pg): ensure db.client.operation.duration metric is recorded for Promises API usage of pg
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
Labels: pkg:instrumentation-pg

#2500 chore(deps): update deps matching "@opentelemetry/*"
  detectors/node/opentelemetry-resource-detector-aws/test/detectors/AwsSuppressTracing.test.ts
  detectors/node/opentelemetry-resource-detector-container/test/ContainerDetectorIntegration.test.ts
  detectors/node/opentelemetry-resource-detector-instana/package.json
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-web/package.json
  package-lock.json
  packages/opentelemetry-test-utils/package.json
  packages/winston-transport/package.json
  plugins/node/instrumentation-amqplib/package.json
  plugins/node/instrumentation-cucumber/package.json
  plugins/node/instrumentation-dataloader/package.json
  plugins/node/instrumentation-fs/package.json
  plugins/node/instrumentation-kafkajs/package.json
  plugins/node/instrumentation-lru-memoizer/package.json
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-runtime-node/package.json
  plugins/node/instrumentation-socket.io/package.json
  plugins/node/instrumentation-tedious/package.json
  plugins/node/instrumentation-undici/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-bunyan/package.json
  plugins/node/opentelemetry-instrumentation-cassandra/package.json
  plugins/node/opentelemetry-instrumentation-connect/package.json
  plugins/node/opentelemetry-instrumentation-dns/package.json
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-generic-pool/package.json
  plugins/node/opentelemetry-instrumentation-graphql/package.json
  plugins/node/opentelemetry-instrumentation-hapi/package.json
  plugins/node/opentelemetry-instrumentation-ioredis/package.json
  plugins/node/opentelemetry-instrumentation-knex/package.json
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-memcached/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-mysql/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
  plugins/node/opentelemetry-instrumentation-net/package.json
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pino/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/node/opentelemetry-instrumentation-restify/package.json
  plugins/node/opentelemetry-instrumentation-router/package.json
  plugins/node/opentelemetry-instrumentation-winston/package.json
  plugins/web/opentelemetry-instrumentation-document-load/package.json
  plugins/web/opentelemetry-instrumentation-long-task/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/package.json
Labels: dependencies, pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:auto-instrumentations-web, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:plugin-react-load, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils, pkg:instrumentation-runtime-node, pkg:instrumentation-undici, has:sponsor, pkg-status:unmaintained, pkg:propagator-aws-xray, pkg:propagator-aws-xray-lambda

#2476 feat(instrumentation-pg): add error type to db duration metric
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/src/utils.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
Labels: pkg:instrumentation-pg

#2503 fix(instrumentation-undici): Fix RequestType
  plugins/node/instrumentation-undici/src/types.ts
Labels: pkg:instrumentation-undici

#2501 chore(propagator-aws-xray): update npm scripts to align with other pkgs in contrib repo
  metapackages/auto-instrumentations-web/package.json
  package-lock.json
  packages/opentelemetry-id-generator-aws-xray/package.json
  plugins/web/opentelemetry-instrumentation-long-task/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/package.json
  propagators/opentelemetry-propagator-instana/package.json
  propagators/opentelemetry-propagator-ot-trace/package.json
  propagators/propagator-aws-xray-lambda/package.json
  propagators/propagator-aws-xray/package.json
Labels: pkg:auto-instrumentations-web, pkg:id-generator-aws-xray, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:propagator-instana, pkg:propagator-ot-trace, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled, pkg:propagator-aws-xray, pkg:propagator-aws-xray-lambda
