Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2024-12, with the labels that each got.

#2557 chore(aws-sdk): add @trivikr as component owner
  .github/component_owners.yml
  plugins/node/opentelemetry-instrumentation-aws-sdk/README.md
Labels: pkg:instrumentation-aws-sdk

#2566 chore(instr-koa): update instrumentation-koa tests
  package-lock.json
  plugins/node/opentelemetry-instrumentation-koa/.tav.yml
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-koa/test/koa.test.ts
Labels: pkg:instrumentation-koa, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2582 feat(deps): update deps matching '@opentelemetry/*'
  detectors/node/opentelemetry-resource-detector-aws/package.json
  detectors/node/opentelemetry-resource-detector-azure/package.json
  detectors/node/opentelemetry-resource-detector-gcp/package.json
  detectors/node/opentelemetry-resource-detector-instana/package.json
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-web/package.json
  package-lock.json
  packages/opentelemetry-test-utils/package.json
  packages/winston-transport/package.json
  plugins/node/instrumentation-amqplib/package.json
  plugins/node/instrumentation-cucumber/package.json
  plugins/node/instrumentation-dataloader/package.json
  plugins/node/instrumentation-fs/package.json
  plugins/node/instrumentation-kafkajs/package.json
  plugins/node/instrumentation-lru-memoizer/package.json
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-runtime-node/package.json
  plugins/node/instrumentation-socket.io/package.json
  plugins/node/instrumentation-tedious/package.json
  plugins/node/instrumentation-undici/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-bunyan/package.json
  plugins/node/opentelemetry-instrumentation-cassandra/package.json
  plugins/node/opentelemetry-instrumentation-connect/package.json
  plugins/node/opentelemetry-instrumentation-dns/package.json
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-generic-pool/package.json
  plugins/node/opentelemetry-instrumentation-graphql/package.json
  plugins/node/opentelemetry-instrumentation-hapi/package.json
  plugins/node/opentelemetry-instrumentation-ioredis/package.json
  plugins/node/opentelemetry-instrumentation-knex/package.json
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-memcached/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-mysql/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
  plugins/node/opentelemetry-instrumentation-net/package.json
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pino/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/node/opentelemetry-instrumentation-restify/package.json
  plugins/node/opentelemetry-instrumentation-router/package.json
  plugins/node/opentelemetry-instrumentation-winston/package.json
  plugins/web/opentelemetry-instrumentation-document-load/package.json
  plugins/web/opentelemetry-instrumentation-long-task/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/package.json
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:auto-instrumentations-web, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils, pkg:instrumentation-runtime-node, pkg:instrumentation-undici, pkg-status:unmaintained

#2573 feat(contrib-test-utils): copy soon-to-be-removed types from @opentelemetry/otlp-transformer
  packages/opentelemetry-test-utils/src/index.ts
  packages/opentelemetry-test-utils/src/otlp-types.ts
  packages/opentelemetry-test-utils/src/test-fixtures.ts
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-sdk, pkg:instrumentation-cassandra-driver, pkg:instrumentation-fastify, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-socket.io, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils

#2588 fix(test-utils): Don't swallow assertion errors from `checkResult` and `checkCollector`
  packages/opentelemetry-test-utils/src/test-fixtures.ts
  plugins/node/opentelemetry-instrumentation-hapi/test/hapi.test.ts
Labels: bug, pkg:instrumentation-ioredis, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-sdk, pkg:instrumentation-cassandra-driver, pkg:instrumentation-fastify, pkg:instrumentation-hapi, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-socket.io, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils, pkg-status:unmaintained

#2571 feat!: widen peer dependency range to include zone.js v0.15.0
  metapackages/auto-instrumentations-web/package.json
  package-lock.json
  plugins/web/opentelemetry-instrumentation-long-task/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/src/instrumentation.ts
  plugins/web/opentelemetry-instrumentation-user-interaction/src/internal-types.ts
  plugins/web/opentelemetry-instrumentation-user-interaction/test/userInteraction.nozone.test.ts
Labels: pkg:auto-instrumentations-web, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction

#2594 chore(deps): lock file maintenance
  package-lock.json
  plugins/node/instrumentation-cucumber/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/.tav.yml
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
Labels: dependencies, pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-docker, pkg:resource-detector-gcp, pkg:resource-detector-github, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:auto-instrumentations-web, pkg:host-metrics, pkg:id-generator-aws-xray, pkg:propagation-utils, pkg:contrib-test-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:plugin-react-load, pkg:propagator-instana, pkg:propagator-ot-trace, pkg:instrumentation-dataloader, pkg:browser-extension-autoinjection, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils, pkg:redis-common, pkg:sql-common, pkg:instrumentation-runtime-node, pkg:instrumentation-undici, pkg:instrumentation-kafkajs, pkg-status:unmaintained, pkg:auto-configuration-propagators, pkg:propagator-aws-xray, pkg:propagator-aws-xray-lambda

#2404 feat: report url for lambda invoked via api gateway
  plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
Labels: status:approved-by-owner, pkg:instrumentation-aws-lambda
