Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2024-08, with the labels that each got.

#2336 feat(detector-github)!: change implementation to DetectorSync interface
  detectors/node/opentelemetry-resource-detector-github/package.json
  detectors/node/opentelemetry-resource-detector-github/src/detectors/GitHubDetector.ts
  package-lock.json
Labels: pkg:resource-detector-github, has:sponsor, pkg-status:unmaintained

#2328 feat(detector-alibaba)!: change implementation to DetectorSync interface
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/src/detectors/AlibabaCloudEcsDetector.ts
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/src/detectors/index.ts
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/src/index.ts
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/test/detectors/AlibabaCloudEcsDetector.test.ts
  detectors/node/opentelemetry-resource-detector-instana/package.json
  package-lock.json
Labels: pkg:resource-detector-alibaba-cloud, pkg:resource-detector-instana

#2366 fix(amqplib)!: instrumentation produced high cardinality span names
  plugins/node/instrumentation-amqplib/src/amqplib.ts
  plugins/node/instrumentation-amqplib/test/amqplib-callbacks.test.ts
Labels: pkg:instrumentation-amqplib

#2362 chore: release main
  .release-please-manifest.json
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/package.json
  detectors/node/opentelemetry-resource-detector-github/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-github/package.json
  detectors/node/opentelemetry-resource-detector-instana/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-instana/package.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  plugins/node/instrumentation-amqplib/CHANGELOG.md
  plugins/node/instrumentation-amqplib/package.json
Labels: autorelease: pending, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-github, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:instrumentation-amqplib, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2363 chore(opentelemetry-propagator-instana): update component owners
  .github/component_owners.yml
  propagators/opentelemetry-propagator-instana/README.md
Labels: pkg:propagator-instana

#2341 feat: added prefix to look for containerid
  detectors/node/opentelemetry-resource-detector-container/src/detectors/ContainerDetector.ts
  detectors/node/opentelemetry-resource-detector-container/src/detectors/utils.ts
  detectors/node/opentelemetry-resource-detector-container/test/ContainerDetector.test.ts
  detectors/node/opentelemetry-resource-detector-container/test/utils.test.ts
Labels: pkg:resource-detector-container

#2371 fix(detector-azure): suppress tracing for AzureVmDetector
  detectors/node/opentelemetry-resource-detector-azure/package.json
  detectors/node/opentelemetry-resource-detector-azure/src/detectors/AzureVmDetector.ts
  detectors/node/opentelemetry-resource-detector-azure/src/detectors/index.ts
  detectors/node/opentelemetry-resource-detector-azure/src/index.ts
  detectors/node/opentelemetry-resource-detector-azure/test/detectors/AzureVmDetector.test.ts
  detectors/node/opentelemetry-resource-detector-azure/test/detectors/AzureVmDetectorIntegration.test.ts
  package-lock.json
Labels: pkg:resource-detector-azure

#2335 feat(detector-gcp)!: change implementation to DetectorSync interface
  detectors/node/opentelemetry-resource-detector-gcp/src/detectors/GcpDetector.ts
  detectors/node/opentelemetry-resource-detector-gcp/test/detectors/GcpDetector.test.ts
Labels: pkg:resource-detector-gcp

#2356 feat(instrumentation-undici): Add `responseHook`
  plugins/node/instrumentation-undici/README.md
  plugins/node/instrumentation-undici/src/types.ts
  plugins/node/instrumentation-undici/src/undici.ts
  plugins/node/instrumentation-undici/test/fetch.test.ts
  plugins/node/instrumentation-undici/test/undici.test.ts
Labels: pkg:instrumentation-undici

#2353 feat(instrumentation-mongoose): Support v7 and v8
  package-lock.json
  plugins/node/instrumentation-mongoose/.tav.yml
  plugins/node/instrumentation-mongoose/README.md
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-mongoose/src/mongoose.ts
  plugins/node/instrumentation-mongoose/test/mongoose-common.test.ts
  plugins/node/instrumentation-mongoose/test/mongoose-v5-v6.test.ts
  plugins/node/instrumentation-mongoose/test/mongoose-v7-v8.test.ts
Labels: pkg:instrumentation-mongoose

#2381 feat(instrumentation-tedious): support tedious@18
  package-lock.json
  plugins/node/instrumentation-tedious/.tav.yml
  plugins/node/instrumentation-tedious/README.md
  plugins/node/instrumentation-tedious/package.json
  plugins/node/instrumentation-tedious/src/instrumentation.ts
  plugins/node/instrumentation-tedious/test/api.ts
  plugins/node/instrumentation-tedious/test/instrumentation.test.ts
  plugins/node/instrumentation-tedious/tsconfig.json
Labels: pkg:instrumentation-tedious, has:sponsor, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2388 feat(opentelemetry-test-utils): create TestMetricReader
  packages/opentelemetry-test-utils/src/test-utils.ts
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-sdk, pkg:instrumentation-cassandra-driver, pkg:instrumentation-fastify, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-socket.io, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils

#2393 feat(opentelemetry-test-utils): export class TestMetricReader
  packages/opentelemetry-test-utils/src/test-utils.ts
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-sdk, pkg:instrumentation-cassandra-driver, pkg:instrumentation-fastify, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-socket.io, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils

#2395 fix(instr-undici): fix issue with config in constructor
  plugins/node/instrumentation-undici/src/undici.ts
  plugins/node/instrumentation-undici/test/fetch.test.ts
  plugins/node/instrumentation-undici/test/metrics.test.ts
  plugins/node/instrumentation-undici/test/undici.test.ts
Labels: pkg:instrumentation-undici

#2397 fix(instrumentation-redis-4): avoid crash from incorrect this._diag ref
  plugins/node/opentelemetry-instrumentation-redis-4/src/instrumentation.ts
Labels: pkg:instrumentation-redis-4

#2401 feat(instr-tedious): support tedious@19
  plugins/node/instrumentation-tedious/.tav.yml
  plugins/node/instrumentation-tedious/README.md
  plugins/node/instrumentation-tedious/src/instrumentation.ts
  plugins/node/instrumentation-tedious/test/instrumentation.test.ts
Labels: pkg:instrumentation-tedious, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2382 fix(detectors): reduce diag level on detectors failing to detect
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEcsDetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEksDetectorSync.ts
  detectors/node/opentelemetry-resource-detector-container/src/detectors/ContainerDetector.ts
Labels: pkg:resource-detector-aws, pkg:resource-detector-container

#2405 fix(instrumentation-generic-pool): update span name typo
  plugins/node/opentelemetry-instrumentation-generic-pool/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-generic-pool/test/index.test.ts
Labels: pkg:instrumentation-generic-pool, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2394 fix(auto-instrumentations-node): shutdown the SDK when the process exits normally
  metapackages/auto-instrumentations-node/src/register.ts
  metapackages/auto-instrumentations-node/test/register.test.ts
  metapackages/auto-instrumentations-node/test/test-app/app-server.js
Labels: pkg:auto-instrumentations-node

#2375 chore: release main
  .release-please-manifest.json
  detectors/node/opentelemetry-resource-detector-aws/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-aws/package.json
  detectors/node/opentelemetry-resource-detector-azure/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-azure/package.json
  detectors/node/opentelemetry-resource-detector-container/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-container/package.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  plugins/node/instrumentation-mongoose/CHANGELOG.md
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-tedious/CHANGELOG.md
  plugins/node/instrumentation-tedious/package.json
  plugins/node/instrumentation-undici/CHANGELOG.md
  plugins/node/instrumentation-undici/package.json
  plugins/node/opentelemetry-instrumentation-generic-pool/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-generic-pool/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
Labels: autorelease: pending, pkg:resource-detector-aws, pkg:auto-instrumentations-node, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-generic-pool, pkg:instrumentation-redis-4, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:instrumentation-undici, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2408 chore(deps): update deps matching "@opentelemetry/"
  detectors/node/opentelemetry-resource-detector-instana/package.json
  metapackages/auto-configuration-propagators/package.json
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-web/package.json
  package-lock.json
  packages/opentelemetry-test-utils/package.json
  packages/opentelemetry-test-utils/src/test-fixtures.ts
  packages/winston-transport/package.json
  plugins/node/instrumentation-amqplib/package.json
  plugins/node/instrumentation-cucumber/package.json
  plugins/node/instrumentation-dataloader/package.json
  plugins/node/instrumentation-fs/package.json
  plugins/node/instrumentation-kafkajs/package.json
  plugins/node/instrumentation-lru-memoizer/package.json
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-runtime-node/package.json
  plugins/node/instrumentation-socket.io/package.json
  plugins/node/instrumentation-tedious/package.json
  plugins/node/instrumentation-undici/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-bunyan/package.json
  plugins/node/opentelemetry-instrumentation-bunyan/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-cassandra/package.json
  plugins/node/opentelemetry-instrumentation-connect/package.json
  plugins/node/opentelemetry-instrumentation-dns/package.json
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-express/test/express.test.ts
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-generic-pool/package.json
  plugins/node/opentelemetry-instrumentation-graphql/package.json
  plugins/node/opentelemetry-instrumentation-hapi/package.json
  plugins/node/opentelemetry-instrumentation-ioredis/package.json
  plugins/node/opentelemetry-instrumentation-knex/package.json
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-koa/test/koa.test.ts
  plugins/node/opentelemetry-instrumentation-memcached/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-mysql/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
  plugins/node/opentelemetry-instrumentation-net/package.json
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pino/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/node/opentelemetry-instrumentation-restify/package.json
  plugins/node/opentelemetry-instrumentation-router/package.json
  plugins/node/opentelemetry-instrumentation-winston/package.json
  plugins/web/opentelemetry-instrumentation-document-load/package.json
  plugins/web/opentelemetry-instrumentation-long-task/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/package.json
  plugins/web/opentelemetry-plugin-react-load/package.json
Labels: dependencies, pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:auto-instrumentations-web, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:plugin-react-load, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils, pkg:instrumentation-runtime-node, pkg:instrumentation-undici, pkg-status:unmaintained, pkg:auto-configuration-propagators
