Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2024-05, with the labels that each got.

#2139 refactor(instr-cassandra-driver): use exported strings for attributes
  .github/component-label-map.yml
  package-lock.json
  plugins/node/opentelemetry-instrumentation-cassandra/README.md
  plugins/node/opentelemetry-instrumentation-cassandra/package.json
  plugins/node/opentelemetry-instrumentation-cassandra/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-cassandra/test/cassandra-driver.test.ts
Labels: pkg:instrumentation-cassandra-driver, pkg:instrumentation-cassandra

#2162 chore: align config constructor pattern across instrumentations
  plugins/node/instrumentation-amqplib/src/amqplib.ts
  plugins/node/instrumentation-dataloader/src/instrumentation.ts
  plugins/node/instrumentation-fs/src/instrumentation.ts
  plugins/node/instrumentation-lru-memoizer/src/instrumentation.ts
  plugins/node/instrumentation-mongoose/src/mongoose.ts
  plugins/node/instrumentation-tedious/src/instrumentation.ts
  plugins/node/instrumentation-undici/src/undici.ts
  plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/aws-sdk.ts
  plugins/node/opentelemetry-instrumentation-bunyan/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-connect/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-dns/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-fastify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-generic-pool/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-graphql/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-hapi/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-ioredis/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-koa/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mongodb/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mysql/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mysql2/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-nestjs-core/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-net/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pino/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis-4/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-restify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-router/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-winston/src/instrumentation.ts
  plugins/web/opentelemetry-instrumentation-user-interaction/src/instrumentation.ts
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-koa, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-user-interaction, pkg:instrumentation-dataloader, pkg:instrumentation-undici

#2161 fix: remove unuseful patch message from instrumentations
  GUIDELINES.md
  plugins/node/instrumentation-mongoose/src/mongoose.ts
  plugins/node/instrumentation-tedious/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-dns/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-fastify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-hapi/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-knex/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mysql/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mysql2/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis/src/instrumentation.ts
Labels: pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-dns, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-fastify, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-redis

#2164 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  plugins/node/instrumentation-mongoose/CHANGELOG.md
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-tedious/CHANGELOG.md
  plugins/node/instrumentation-tedious/package.json
  plugins/node/opentelemetry-instrumentation-dns/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-dns/package.json
  plugins/node/opentelemetry-instrumentation-fastify/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-hapi/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-hapi/package.json
  plugins/node/opentelemetry-instrumentation-knex/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-knex/package.json
  plugins/node/opentelemetry-instrumentation-mysql/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mysql/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
  plugins/node/opentelemetry-instrumentation-pino/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-pino/package.json
  plugins/node/opentelemetry-instrumentation-redis/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-redis/package.json
Labels: autorelease: pending, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-dns, pkg:auto-instrumentations-node, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-fastify, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-nestjs-core, pkg:instrumentation-pino, pkg:instrumentation-redis

#2008 feat(instrumentation-express): Support non-string routes
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-express/src/types.ts
  plugins/node/opentelemetry-instrumentation-express/src/utils.ts
  plugins/node/opentelemetry-instrumentation-express/test/express.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/fixtures/use-express-regex.mjs
  plugins/node/opentelemetry-instrumentation-express/test/utils.test.ts
Labels: pkg:instrumentation-express

#2154 refactor(instr-connect): use exported strings for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-connect/README.md
  plugins/node/opentelemetry-instrumentation-connect/package.json
  plugins/node/opentelemetry-instrumentation-connect/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-connect/test/instrumentation.test.ts
Labels: pkg:instrumentation-connect

#1936 feat(resource-detector-aws): add support for cloud.resource_id to AWS ECS detector
  detectors/node/opentelemetry-resource-detector-aws/README.md
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEcsDetector.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/SemanticResourceAttributes.ts
  detectors/node/opentelemetry-resource-detector-aws/test/detectors/AwsEcsDetector.test.ts
Labels: pkg:resource-detector-aws

#2173 docs(auto-instrumentations-node): fix typo in code example
  metapackages/auto-instrumentations-node/README.md
Labels: pkg:auto-instrumentations-node

#2176 test(instrumentation-pino): add test for ESM
  plugins/node/opentelemetry-instrumentation-pino/test/pino-enabled.test.ts
Labels: pkg:instrumentation-pino

#2180 chore: update otel and unpin node 18 in tests
  .github/workflows/test-all-versions.yml
  .github/workflows/unit-test.yml
  package-lock.json
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-bunyan, pkg:instrumentation-express, pkg:instrumentation-koa, pkg:instrumentation-pg

#2200 fix(instrumentation-connect): add source maps to package
  plugins/node/opentelemetry-instrumentation-connect/package.json
Labels: pkg:instrumentation-connect

#2156 refactor(instr-graphql): use exported strings for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-graphql/README.md
  plugins/node/opentelemetry-instrumentation-graphql/package.json
  plugins/node/opentelemetry-instrumentation-graphql/test/graphql.test.ts
Labels: pkg:instrumentation-graphql

#2191 chore(instrumentation-ioredis): use exported strings for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-ioredis/README.md
  plugins/node/opentelemetry-instrumentation-ioredis/package.json
  plugins/node/opentelemetry-instrumentation-ioredis/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-ioredis/test/ioredis.test.ts
Labels: pkg:instrumentation-ioredis

#2192 chore(instrumentation-memcached): use exported strings for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-memcached/README.md
  plugins/node/opentelemetry-instrumentation-memcached/package.json
  plugins/node/opentelemetry-instrumentation-memcached/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-memcached/src/utils.ts
  plugins/node/opentelemetry-instrumentation-memcached/test/index.test.ts
Labels: pkg:instrumentation-memcached

#2193 chore(instrumentation-nestjs-core): use strings exported for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/README.md
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/src/instrumentation.ts
Labels: pkg:instrumentation-nestjs-core

#2194 chore(instrumentation-net): use strings exported for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-net/README.md
  plugins/node/opentelemetry-instrumentation-net/package.json
  plugins/node/opentelemetry-instrumentation-net/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-net/src/utils.ts
  plugins/node/opentelemetry-instrumentation-net/test/connect.test.ts
  plugins/node/opentelemetry-instrumentation-net/test/utils.ts
Labels: pkg:instrumentation-net

#2195 chore(instrumentation-bunyan): use strings exported for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-bunyan/package.json
  plugins/node/opentelemetry-instrumentation-bunyan/test/bunyan.test.ts
Labels: pkg:instrumentation-bunyan

#2182 docs: remove unused semconv packages and document
  incubator/opentelemetry-sampler-aws-xray/README.md
  incubator/opentelemetry-sampler-aws-xray/package.json
  package-lock.json
  plugins/node/instrumentation-lru-memoizer/README.md
  plugins/node/opentelemetry-instrumentation-bunyan/README.md
  plugins/node/opentelemetry-instrumentation-dns/README.md
  plugins/node/opentelemetry-instrumentation-dns/package.json
  plugins/node/opentelemetry-instrumentation-generic-pool/README.md
  plugins/node/opentelemetry-instrumentation-generic-pool/package.json
  plugins/node/opentelemetry-instrumentation-pino/README.md
  plugins/node/opentelemetry-instrumentation-winston/README.md
  plugins/web/opentelemetry-plugin-react-load/README.md
  plugins/web/opentelemetry-plugin-react-load/package.json
Labels: pkg:instrumentation-dns, pkg:instrumentation-lru-memoizer, pkg:instrumentation-bunyan, pkg:instrumentation-generic-pool, pkg:instrumentation-pino, pkg:instrumentation-winston, pkg:plugin-react-load

#2181 fix(aws-lambda): update semconv package and readme
  package-lock.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/README.md
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
Labels: pkg:instrumentation-aws-lambda

#2172 chore: release main
  .release-please-manifest.json
  detectors/node/opentelemetry-resource-detector-aws/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-aws/package.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  packages/baggage-span-processor/CHANGELOG.md
  packages/baggage-span-processor/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-connect/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-connect/package.json
  plugins/node/opentelemetry-instrumentation-express/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-express/package.json
Labels: autorelease: pending, pkg:resource-detector-aws, pkg:auto-instrumentations-node, pkg:instrumentation-aws-lambda, pkg:instrumentation-connect, pkg:instrumentation-express

#2169 feat: support node 20
  .github/workflows/test-all-versions.yml
  .github/workflows/unit-test.yml
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:auto-instrumentations-web, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:instrumentation-runtime-node, pkg:instrumentation-undici

#2190 chore(instrumentation-hapi): use exported strings for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-hapi/README.md
  plugins/node/opentelemetry-instrumentation-hapi/package.json
  plugins/node/opentelemetry-instrumentation-hapi/src/utils.ts
Labels: pkg:instrumentation-hapi

#2184 fix(hapi): fix instrumentation of ESM-imported hapi
  package-lock.json
  plugins/node/opentelemetry-instrumentation-hapi/package.json
  plugins/node/opentelemetry-instrumentation-hapi/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-hapi/test/fixtures/use-hapi.mjs
  plugins/node/opentelemetry-instrumentation-hapi/test/hapi.test.ts
Labels: pkg:instrumentation-hapi

#2205 ci: add md linter rule to only use dash for unordered lists
  .github/markdown-lint.yml
  .github/workflows/lint.yml
  README.md
  RELEASING.md
  archive/opentelemetry-browser-extension-autoinjection/README.md
  archive/opentelemetry-propagator-grpc-census-binary/README.md
  packages/baggage-span-processor/README.md
  packages/opentelemetry-host-metrics/README.md
  packages/winston-transport/README.md
  plugins/node/opentelemetry-instrumentation-cassandra/README.md
  plugins/node/opentelemetry-instrumentation-net/README.md
  plugins/node/opentelemetry-instrumentation-pino/README.md
  plugins/node/opentelemetry-instrumentation-winston/README.md
  propagators/README.md
  propagators/opentelemetry-propagator-instana/README.md
Labels: pkg:host-metrics, pkg:instrumentation-cassandra-driver, pkg:instrumentation-net, pkg:instrumentation-pino, pkg:instrumentation-winston, pkg:propagator-grpc-census-binary, pkg:propagator-instana

#2202 docs: enhanced description for instrumentations in package.json
  GUIDELINES.md
  plugins/node/instrumentation-amqplib/package.json
  plugins/node/instrumentation-cucumber/package.json
  plugins/node/instrumentation-dataloader/package.json
  plugins/node/instrumentation-fs/package.json
  plugins/node/instrumentation-kafkajs/package.json
  plugins/node/instrumentation-lru-memoizer/package.json
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-runtime-node/package.json
  plugins/node/instrumentation-socket.io/package.json
  plugins/node/instrumentation-tedious/package.json
  plugins/node/instrumentation-undici/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-bunyan/package.json
  plugins/node/opentelemetry-instrumentation-cassandra/package.json
  plugins/node/opentelemetry-instrumentation-connect/package.json
  plugins/node/opentelemetry-instrumentation-dns/package.json
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-generic-pool/package.json
  plugins/node/opentelemetry-instrumentation-graphql/package.json
  plugins/node/opentelemetry-instrumentation-hapi/package.json
  plugins/node/opentelemetry-instrumentation-ioredis/package.json
  plugins/node/opentelemetry-instrumentation-knex/package.json
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-memcached/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-mysql/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
  plugins/node/opentelemetry-instrumentation-net/package.json
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pino/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/node/opentelemetry-instrumentation-restify/package.json
  plugins/node/opentelemetry-instrumentation-router/package.json
  plugins/node/opentelemetry-instrumentation-winston/package.json
  plugins/web/opentelemetry-instrumentation-document-load/package.json
  plugins/web/opentelemetry-instrumentation-long-task/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/package.json
  plugins/web/opentelemetry-plugin-react-load/package.json
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:plugin-react-load, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:instrumentation-runtime-node, pkg:instrumentation-undici

#2222 docs: fix a typo
  detectors/node/opentelemetry-resource-detector-github/README.md
Labels: pkg:resource-detector-github

#2130 docs(detector-alibaba): add details about semantic conventions
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/README.md
Labels: pkg:resource-detector-alibaba-cloud

#2227 chore(docs): update redisio instrumentation docs link
  plugins/node/opentelemetry-instrumentation-ioredis/src/types.ts
Labels: pkg:instrumentation-ioredis

#2224 chore: remove duplicate "version update" in compile script
  detectors/node/opentelemetry-resource-detector-container/package.json
  plugins/node/instrumentation-amqplib/package.json
  plugins/node/instrumentation-fs/package.json
  plugins/node/instrumentation-lru-memoizer/package.json
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-socket.io/package.json
  plugins/web/opentelemetry-instrumentation-document-load/package.json
  plugins/web/opentelemetry-instrumentation-long-task/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/package.json
  plugins/web/opentelemetry-plugin-react-load/package.json
Labels: pkg:instrumentation-fs, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:plugin-react-load, pkg:instrumentation-socket.io, pkg:resource-detector-container

#2178 feat(instr-tedious): add support for v16 and v17
  package-lock.json
  packages/opentelemetry-test-utils/src/test-utils.ts
  plugins/node/instrumentation-tedious/.tav.yml
  plugins/node/instrumentation-tedious/README.md
  plugins/node/instrumentation-tedious/package.json
  plugins/node/instrumentation-tedious/src/instrumentation.ts
  plugins/node/instrumentation-tedious/test/instrumentation.test.ts
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-sdk, pkg:instrumentation-cassandra-driver, pkg:instrumentation-fastify, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-socket.io, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils

#2029 perf(instrumentation-pg): do not split query to determine operation name
  plugins/node/opentelemetry-instrumentation-pg/src/utils.ts
Labels: pkg:instrumentation-pg

#2210 chore: update last deprecated usages of semantic-conventions pkg
  incubator/opentelemetry-sampler-aws-xray/README.md
  metapackages/auto-instrumentations-node/README.md
  packages/opentelemetry-test-utils/src/resource-assertions.ts
  plugins/node/instrumentation-socket.io/test/utils.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v3.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v4.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v5-v6.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/utils.ts
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-sdk, pkg:instrumentation-cassandra-driver, pkg:instrumentation-fastify, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-socket.io, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils

#2203 refactor: use package json auto generated export also for npm package name
  packages/opentelemetry-host-metrics/src/BaseMetrics.ts
  packages/winston-transport/src/OpenTelemetryTransportV3.ts
  plugins/node/instrumentation-amqplib/src/amqplib.ts
  plugins/node/instrumentation-cucumber/src/instrumentation.ts
  plugins/node/instrumentation-dataloader/src/instrumentation.ts
  plugins/node/instrumentation-fs/src/instrumentation.ts
  plugins/node/instrumentation-kafkajs/src/instrumentation.ts
  plugins/node/instrumentation-lru-memoizer/src/instrumentation.ts
  plugins/node/instrumentation-mongoose/src/mongoose.ts
  plugins/node/instrumentation-runtime-node/src/instrumentation.ts
  plugins/node/instrumentation-socket.io/src/socket.io.ts
  plugins/node/instrumentation-tedious/src/instrumentation.ts
  plugins/node/instrumentation-undici/src/undici.ts
  plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/aws-sdk.ts
  plugins/node/opentelemetry-instrumentation-bunyan/src/OpenTelemetryBunyanStream.ts
  plugins/node/opentelemetry-instrumentation-bunyan/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-bunyan/test/bunyan.test.ts
  plugins/node/opentelemetry-instrumentation-cassandra/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-connect/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-dns/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-fastify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-generic-pool/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-graphql/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-hapi/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-ioredis/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-knex/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-koa/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-memcached/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mongodb/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mysql/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mysql2/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-nestjs-core/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-net/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pino/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis-4/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-restify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-router/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-winston/src/instrumentation.ts
  plugins/web/opentelemetry-instrumentation-document-load/src/instrumentation.ts
  plugins/web/opentelemetry-instrumentation-long-task/src/instrumentation.ts
  plugins/web/opentelemetry-instrumentation-user-interaction/src/instrumentation.ts
  plugins/web/opentelemetry-plugin-react-load/src/BaseOpenTelemetryComponent.ts
  scripts/version-update.js
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:host-metrics, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:plugin-react-load, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:instrumentation-runtime-node, pkg:instrumentation-undici

#2235 docs(undici): Fix NPM badge in README.md.
  plugins/node/instrumentation-undici/README.md
Labels: pkg:instrumentation-undici

#2009 fix(instrumentation-mongoose): Fix instrumentation for Mongoose Model methods, save() and remove(), by passing options argument to original method calls
  plugins/node/instrumentation-mongoose/src/mongoose.ts
  plugins/node/instrumentation-mongoose/src/utils.ts
  plugins/node/instrumentation-mongoose/test/mongoose.test.ts
Labels: pkg:instrumentation-mongoose

#2239 chore(undici): remove unused dev dep on superagent
  package-lock.json
  plugins/node/instrumentation-undici/package.json
Labels: pkg:instrumentation-undici

#2241 test: minor cleanup to pino ESM test
  plugins/node/opentelemetry-instrumentation-pino/test/pino-enabled.test.ts
Labels: pkg:instrumentation-pino

#2240 fix: semconv alignment & listed in README
  packages/opentelemetry-host-metrics/README.md
  packages/opentelemetry-host-metrics/src/enum.ts
  packages/opentelemetry-host-metrics/src/metric.ts
  packages/opentelemetry-host-metrics/src/util.ts
  packages/opentelemetry-host-metrics/test/metric.test.ts
Labels: pkg:host-metrics

#2246 chore: remove link to non existing file
  plugins/node/opentelemetry-instrumentation-pg/README.md
Labels: pkg:instrumentation-pg

#2188 feat(instrumentation-document-load): Add ability to disable span events
  plugins/web/opentelemetry-instrumentation-document-load/README.md
  plugins/web/opentelemetry-instrumentation-document-load/src/instrumentation.ts
  plugins/web/opentelemetry-instrumentation-document-load/src/types.ts
  plugins/web/opentelemetry-instrumentation-document-load/test/documentLoad.test.ts
Labels: pkg:instrumentation-document-load

#2234 chore(lint): refactor Markdown linting to use markdownlint-cli2
  .github/ISSUE_TEMPLATE/plugin_request.md
  .github/markdown-lint.yml
  .github/workflows/lint.yml
  .markdownlint-cli2.jsonc
  .markdownlint.json
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-aws/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-azure/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-azure/README.md
  detectors/node/opentelemetry-resource-detector-container/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-container/README.md
  detectors/node/opentelemetry-resource-detector-gcp/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-instana/CHANGELOG.md
  examples/connect/README.md
  examples/dns/README.md
  examples/express/README.md
  examples/fastify/README.md
  examples/hapi/README.md
  examples/koa/README.md
  examples/mongodb/README.md
  examples/mysql/README.md
  examples/react-load/preact/README.md
  examples/react-load/react/README.md
  examples/redis/README.md
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-web/CHANGELOG.md
  package-lock.json
  package.json
  packages/opentelemetry-id-generator-aws-xray/README.md
  packages/opentelemetry-propagation-utils/CHANGELOG.md
  plugins/node/instrumentation-amqplib/CHANGELOG.md
  plugins/node/instrumentation-amqplib/README.md
  plugins/node/instrumentation-lru-memoizer/CHANGELOG.md
  plugins/node/instrumentation-mongoose/CHANGELOG.md
  plugins/node/instrumentation-socket.io/CHANGELOG.md
  plugins/node/instrumentation-tedious/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/README.md
  plugins/node/opentelemetry-instrumentation-cassandra/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-dns/README.md
  plugins/node/opentelemetry-instrumentation-graphql/README.md
  plugins/node/opentelemetry-instrumentation-memcached/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mongodb/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mysql/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mysql/README.md
  plugins/node/opentelemetry-instrumentation-mysql2/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-nestjs-core/README.md
  plugins/node/opentelemetry-instrumentation-pg/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-redis-4/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-redis/CHANGELOG.md
Labels: pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-dns, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:auto-instrumentations-web, pkg:id-generator-aws-xray, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-sdk, pkg:instrumentation-cassandra-driver, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-pg, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-socket.io, pkg:resource-detector-container, pkg:resource-detector-azure

#2233 fix: Update Azure Functions Detector Collected Attributes
  detectors/node/opentelemetry-resource-detector-azure/README.md
  detectors/node/opentelemetry-resource-detector-azure/src/detectors/AzureAppServiceDetector.ts
  detectors/node/opentelemetry-resource-detector-azure/src/detectors/AzureFunctionsDetector.ts
  detectors/node/opentelemetry-resource-detector-azure/src/utils.ts
  detectors/node/opentelemetry-resource-detector-azure/test/detectors/AzureFunctionsDetector.test.ts
Labels: pkg:resource-detector-azure
