Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2024-01, with the labels that each got.

#1867 feat: Allow configuring pino to log with different keys
  plugins/node/opentelemetry-instrumentation-pino/README.md
  plugins/node/opentelemetry-instrumentation-pino/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pino/src/types.ts
  plugins/node/opentelemetry-instrumentation-pino/test/common.ts
  plugins/node/opentelemetry-instrumentation-pino/test/pino-disabled.test.ts
  plugins/node/opentelemetry-instrumentation-pino/test/pino-enabled.test.ts
  plugins/node/opentelemetry-instrumentation-pino/test/pino.test.ts
Labels: pkg:instrumentation-pino

#1785 fix(host-metrics)!: fix process.cpu.* metrics
  packages/opentelemetry-host-metrics/src/BaseMetrics.ts
  packages/opentelemetry-host-metrics/src/enum.ts
  packages/opentelemetry-host-metrics/src/metric.ts
  packages/opentelemetry-host-metrics/src/stats/common.ts
  packages/opentelemetry-host-metrics/test/metric.test.ts
  packages/opentelemetry-host-metrics/test/mocks/process.json
Labels: pkg:host-metrics

#1895 fix(instrumentation-pg): remove `@opentelemetry/core` from dependencies
  package-lock.json
  plugins/node/opentelemetry-instrumentation-pg/package.json
Labels: pkg:instrumentation-pg

#1889 fix(instrumentation-aws-sdk): make empty context when SQS message has no propagation fields
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/MessageAttributes.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/MessageAttributes.test.ts
Labels: pkg:instrumentation-aws-sdk

#1851 fix(mongodb-example): Ensure instrumentation is setup before mongoDB client is imported
  plugins/node/opentelemetry-instrumentation-mongodb/examples/src/server.ts
Labels: pkg:instrumentation-mongodb

#1858 feat(instrumentation-graphql): add option to ignore resolver spans
  plugins/node/opentelemetry-instrumentation-graphql/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-graphql/src/types.ts
  plugins/node/opentelemetry-instrumentation-graphql/test/graphql.test.ts
Labels: pkg:instrumentation-graphql

#1897 chore(renovate): use full list of experimental packages
  renovate.json
Labels: internal

#1842 chore: Update deprecations in instrumentation-express/examples
  package-lock.json
  plugins/node/opentelemetry-instrumentation-express/examples/README.md
  plugins/node/opentelemetry-instrumentation-express/examples/package.json
  plugins/node/opentelemetry-instrumentation-express/examples/src/tracer.ts
Labels: pkg:instrumentation-express

#1891 fix: span emit warnings on express instrumentation
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
Labels: pkg:instrumentation-express

#1904 fix(instrumentation-redis-4): fix multi.exec() instrumentation for redis >=4.6.12
  plugins/node/opentelemetry-instrumentation-redis-4/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis-4/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-redis-4/test/redis.test.ts
Labels: pkg:instrumentation-redis-4

#1912 docs(graphql-instrumentation): add documentation for ignoreResolveSpans
  plugins/node/opentelemetry-instrumentation-graphql/README.md
Labels: pkg:instrumentation-graphql
