Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2024-02, with the labels that each got.

#1913 fix(instr-aws-sdk): @smithy/middleware-stack@2.1.0 change broke aws-sdk-v3 instrumentation
  plugins/node/opentelemetry-instrumentation-aws-sdk/.tav.yml
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/aws-sdk.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/propwrap.ts
Labels: pkg:instrumentation-aws-sdk

#1924 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
Labels: autorelease: pending, pkg:auto-instrumentations-node, pkg:instrumentation-aws-sdk

#1939 chore: attempt to prevent non-releasing packages from being included in release-please release PRs
  .release-please-manifest.json
  plugins/node/opentelemetry-instrumentation-bunyan/examples/package.json
  plugins/node/opentelemetry-instrumentation-express/examples/package.json
  plugins/node/opentelemetry-instrumentation-koa/examples/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/examples/package.json
  plugins/node/opentelemetry-instrumentation-mysql/examples/package.json
  plugins/node/opentelemetry-instrumentation-redis/examples/package.json
Labels: pkg:instrumentation-mysql, pkg:instrumentation-bunyan, pkg:instrumentation-express, pkg:instrumentation-koa, pkg:instrumentation-mongodb, pkg:instrumentation-redis

#1916 fix(net.peer.port): net.peer.port needs to be a number not a string
  plugins/node/opentelemetry-instrumentation-memcached/src/utils.ts
  plugins/node/opentelemetry-instrumentation-memcached/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v3.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v4-v5-v6.metrics.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v4.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v5-v6.test.ts
  plugins/node/opentelemetry-instrumentation-mysql/src/utils.ts
  plugins/node/opentelemetry-instrumentation-mysql2/src/utils.ts
Labels: pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-memcached, pkg:instrumentation-mongodb

#1949 docs(instr-knex): Fix knex instrumentation example
  plugins/node/opentelemetry-instrumentation-knex/README.md
Labels: pkg:instrumentation-knex

#1929 feat(instrumentation-dns): allow ignoreHostnames to be only a single IgnoreMatcher
  plugins/node/opentelemetry-instrumentation-dns/README.md
  plugins/node/opentelemetry-instrumentation-dns/src/types.ts
  plugins/node/opentelemetry-instrumentation-dns/src/utils.ts
  plugins/node/opentelemetry-instrumentation-dns/test/functionals/utils.test.ts
Labels: pkg:instrumentation-dns

#1957 chore(instrumentation-hapi): setup tav
  package-lock.json
  plugins/node/opentelemetry-instrumentation-hapi/.tav.yml
  plugins/node/opentelemetry-instrumentation-hapi/package.json
Labels: pkg:instrumentation-hapi

#1907 chore(instr-express): add semconv to readme
  plugins/node/opentelemetry-instrumentation-express/README.md
Labels: pkg:instrumentation-express

#1968 test(instrumentation-mysql): add missing -p to ts-mocha
  plugins/node/opentelemetry-instrumentation-mysql/package.json
Labels: pkg:instrumentation-mysql

#1969 docs(instrumentation-graphql): gql supported versions
  plugins/node/opentelemetry-instrumentation-graphql/README.md
Labels: document, pkg:instrumentation-graphql
