Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2024-06, with the labels that each got.

#2252 chore(undici): Fix homepage url
  plugins/node/instrumentation-undici/package.json
Labels: pkg:instrumentation-undici

#2257 feat: update otel core dependencies
  detectors/node/opentelemetry-resource-detector-instana/package.json
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-web/package.json
  package-lock.json
  packages/opentelemetry-test-utils/package.json
  packages/opentelemetry-test-utils/src/test-fixtures.ts
  packages/winston-transport/package.json
  plugins/node/instrumentation-amqplib/package.json
  plugins/node/instrumentation-cucumber/package.json
  plugins/node/instrumentation-dataloader/package.json
  plugins/node/instrumentation-fs/package.json
  plugins/node/instrumentation-kafkajs/package.json
  plugins/node/instrumentation-lru-memoizer/package.json
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-runtime-node/package.json
  plugins/node/instrumentation-socket.io/package.json
  plugins/node/instrumentation-tedious/package.json
  plugins/node/instrumentation-undici/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-bunyan/package.json
  plugins/node/opentelemetry-instrumentation-cassandra/package.json
  plugins/node/opentelemetry-instrumentation-connect/package.json
  plugins/node/opentelemetry-instrumentation-dns/package.json
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-generic-pool/package.json
  plugins/node/opentelemetry-instrumentation-graphql/package.json
  plugins/node/opentelemetry-instrumentation-hapi/package.json
  plugins/node/opentelemetry-instrumentation-ioredis/package.json
  plugins/node/opentelemetry-instrumentation-knex/package.json
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-memcached/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-mysql/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/test/mysql.test.ts
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
  plugins/node/opentelemetry-instrumentation-net/package.json
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pino/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/node/opentelemetry-instrumentation-restify/package.json
  plugins/node/opentelemetry-instrumentation-router/package.json
  plugins/node/opentelemetry-instrumentation-winston/package.json
  plugins/web/opentelemetry-instrumentation-document-load/package.json
  plugins/web/opentelemetry-instrumentation-long-task/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/package.json
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:auto-instrumentations-web, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils, pkg:instrumentation-runtime-node, pkg:instrumentation-undici

#2260 fix(baggage-span-processor): cannot find module
  packages/baggage-span-processor/package.json
Labels: priority:p1

#1728 feat(instrumentation-mongodb): support aggregation commands and support nested statements
  GUIDELINES.md
  plugins/node/opentelemetry-instrumentation-mongodb/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mongodb/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v3.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v4.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v5-v6.test.ts
Labels: pkg:instrumentation-mongodb

#2261 docs(undici): Update option links to point to right link
  plugins/node/instrumentation-undici/README.md
Labels: pkg:instrumentation-undici

#2270 fix: ContainerId not detected post version 0.2.2
  detectors/node/opentelemetry-resource-detector-container/src/detectors/ContainerDetector.ts
  detectors/node/opentelemetry-resource-detector-container/test/ContainerDetector.test.ts
Labels: pkg:resource-detector-container

#2251 fix(azure-functions-resource-detector): Update Azure Functions Detector to Consider WEBSITE_SKU
  detectors/node/opentelemetry-resource-detector-azure/src/detectors/AzureAppServiceDetector.ts
  detectors/node/opentelemetry-resource-detector-azure/src/detectors/AzureFunctionsDetector.ts
  detectors/node/opentelemetry-resource-detector-azure/src/types.ts
  detectors/node/opentelemetry-resource-detector-azure/src/utils.ts
  detectors/node/opentelemetry-resource-detector-azure/test/detectors/AzureFunctionsDetector.test.ts
Labels: pkg:resource-detector-azure

#2137 fix(instr-express): keep hidden properties in layer handlers
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-express/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-express/test/express.test.ts
Labels: pkg:instrumentation-express

#2247 test(instrumentation-pino): refactor Pino tests for correctness
  package-lock.json
  plugins/node/opentelemetry-instrumentation-pino/package.json
  plugins/node/opentelemetry-instrumentation-pino/test/common.ts
  plugins/node/opentelemetry-instrumentation-pino/test/pino-disabled.test.ts
  plugins/node/opentelemetry-instrumentation-pino/test/pino-enabled.test.ts
  plugins/node/opentelemetry-instrumentation-pino/test/pino.test.ts
Labels: pkg:instrumentation-pino

#2269 chore: update to webpack 5
  examples/web/package.json
  karma.base.js
  karma.webpack.js
  metapackages/auto-instrumentations-web/package.json
  package-lock.json
  package.json
  packages/opentelemetry-id-generator-aws-xray/package.json
  plugins/web/opentelemetry-instrumentation-long-task/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/package.json
  plugins/web/opentelemetry-plugin-react-load/package.json
  propagators/opentelemetry-propagator-instana/package.json
  propagators/opentelemetry-propagator-ot-trace/package.json
Labels: pkg:auto-instrumentations-web, pkg:id-generator-aws-xray, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:plugin-react-load, pkg:propagator-instana, pkg:propagator-ot-trace

#2186 fix: fix timeout in aws resource detector
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEc2Detector.ts
  detectors/node/opentelemetry-resource-detector-aws/test/detectors/AwsEc2Detector.test.ts
Labels: pkg:resource-detector-aws

#2273 fix(instr-undici): respect requireParent flag when INVALID_SPAN_CONTEXT is used
  plugins/node/instrumentation-undici/src/undici.ts
  plugins/node/instrumentation-undici/test/undici.test.ts
Labels: pkg:instrumentation-undici

#2282 fix(instr-undici): wrong user agent reported if no user agent were set
  plugins/node/instrumentation-undici/src/undici.ts
  plugins/node/instrumentation-undici/test/undici.test.ts
Labels: pkg:instrumentation-undici

#2174 feat(auto-instrumentations-node): disabling instrumentations via env var
  metapackages/auto-instrumentations-node/README.md
  metapackages/auto-instrumentations-node/src/utils.ts
  metapackages/auto-instrumentations-node/test/utils.test.ts
Labels: pkg:auto-instrumentations-node

#2243 docs: remove redundant migration text from READMEs
  plugins/node/instrumentation-amqplib/README.md
  plugins/node/instrumentation-mongoose/README.md
  plugins/node/instrumentation-socket.io/README.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/README.md
Labels: pkg:instrumentation-amqplib, pkg:instrumentation-mongoose, pkg:instrumentation-aws-sdk, pkg:instrumentation-socket.io

#2242 chore: add script to verify READMEs and apply few fixes
  .github/workflows/lint.yml
  package.json
  plugins/node/instrumentation-amqplib/package.json
  plugins/node/instrumentation-cucumber/package.json
  plugins/node/instrumentation-fs/package.json
  plugins/node/instrumentation-kafkajs/package.json
  plugins/node/instrumentation-lru-memoizer/package.json
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-socket.io/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/README.md
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/README.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-cassandra/package.json
  plugins/node/opentelemetry-instrumentation-connect/README.md
  plugins/node/opentelemetry-instrumentation-connect/package.json
  plugins/node/opentelemetry-instrumentation-dns/README.md
  plugins/node/opentelemetry-instrumentation-dns/package.json
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-fastify/README.md
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-generic-pool/package.json
  plugins/node/opentelemetry-instrumentation-graphql/README.md
  plugins/node/opentelemetry-instrumentation-graphql/package.json
  plugins/node/opentelemetry-instrumentation-hapi/README.md
  plugins/node/opentelemetry-instrumentation-hapi/package.json
  plugins/node/opentelemetry-instrumentation-ioredis/package.json
  plugins/node/opentelemetry-instrumentation-knex/package.json
  plugins/node/opentelemetry-instrumentation-koa/README.md
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-net/README.md
  plugins/node/opentelemetry-instrumentation-net/package.json
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pino/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/node/opentelemetry-instrumentation-restify/package.json
  plugins/node/opentelemetry-instrumentation-router/package.json
  plugins/node/opentelemetry-instrumentation-winston/package.json
  plugins/web/opentelemetry-instrumentation-document-load/README.md
  plugins/web/opentelemetry-instrumentation-document-load/package.json
  plugins/web/opentelemetry-instrumentation-long-task/README.md
  plugins/web/opentelemetry-instrumentation-long-task/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/README.md
  plugins/web/opentelemetry-instrumentation-user-interaction/package.json
  plugins/web/opentelemetry-plugin-react-load/README.md
  plugins/web/opentelemetry-plugin-react-load/package.json
  scripts/lint-readme.js
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-gcp, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:plugin-react-load, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:resource-detector-container, pkg:resource-detector-azure

#2296 fix!: export instrumentations only as named export
  plugins/node/instrumentation-dataloader/src/index.ts
  plugins/node/instrumentation-fs/src/index.ts
  plugins/node/instrumentation-fs/src/instrumentation.ts
  plugins/node/instrumentation-fs/test/fs.test.ts
  plugins/node/instrumentation-fs/test/fsHooks.test.ts
  plugins/node/instrumentation-fs/test/fsPromises.test.ts
  plugins/node/instrumentation-fs/test/fsPromisesHooks.test.ts
  plugins/node/instrumentation-fs/test/parent.test.ts
  plugins/node/instrumentation-lru-memoizer/src/index.ts
  plugins/node/instrumentation-lru-memoizer/src/instrumentation.ts
  plugins/node/instrumentation-lru-memoizer/test/index.test.ts
  plugins/node/instrumentation-runtime-node/src/index.ts
  plugins/node/instrumentation-tedious/src/index.ts
  plugins/node/instrumentation-undici/src/index.ts
  plugins/node/opentelemetry-instrumentation-generic-pool/src/index.ts
  plugins/node/opentelemetry-instrumentation-generic-pool/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-generic-pool/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-knex/src/index.ts
  plugins/node/opentelemetry-instrumentation-knex/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-memcached/src/index.ts
  plugins/node/opentelemetry-instrumentation-memcached/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-memcached/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-mysql2/src/index.ts
  plugins/node/opentelemetry-instrumentation-nestjs-core/src/index.ts
  plugins/node/opentelemetry-instrumentation-nestjs-core/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-restify/src/index.ts
  plugins/node/opentelemetry-instrumentation-restify/test/restify.test.ts
  plugins/node/opentelemetry-instrumentation-router/src/index.ts
  plugins/node/opentelemetry-instrumentation-router/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-router/test/index.test.ts
Labels: bug, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-lru-memoizer, pkg:instrumentation-tedious, pkg:instrumentation-generic-pool, pkg:instrumentation-knex, pkg:instrumentation-memcached, pkg:instrumentation-nestjs-core, pkg:instrumentation-router, pkg:instrumentation-dataloader, pkg:instrumentation-runtime-node, pkg:instrumentation-undici

#2300 fix(host-metrics): make host metrics constructor options optional
  packages/opentelemetry-host-metrics/README.md
  packages/opentelemetry-host-metrics/src/BaseMetrics.ts
  packages/opentelemetry-host-metrics/test/metric.test.ts
Labels: bug, pkg:host-metrics

#2303 fix(koa)!: use generic config hook types and move dep to dev
  package-lock.json
  plugins/node/opentelemetry-instrumentation-koa/README.md
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-koa/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-koa/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-koa/src/types.ts
  plugins/node/opentelemetry-instrumentation-koa/src/utils.ts
  plugins/node/opentelemetry-instrumentation-koa/test/koa.test.ts
Labels: bug, pkg:instrumentation-koa, pkg-status:unmaintained

#2249 feat(instrumentation-pino): add log sending to Logs Bridge API
  package-lock.json
  plugins/node/opentelemetry-instrumentation-pino/README.md
  plugins/node/opentelemetry-instrumentation-pino/package.json
  plugins/node/opentelemetry-instrumentation-pino/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pino/src/log-sending-utils.ts
  plugins/node/opentelemetry-instrumentation-pino/src/types.ts
  plugins/node/opentelemetry-instrumentation-pino/test/pino.test.ts
Labels: pkg:instrumentation-pino

#2301 fix(@opentelemetry/instrumentation-winston): Removing error details when @opentelemetry/winston-transport is not available
  plugins/node/opentelemetry-instrumentation-winston/src/instrumentation.ts
Labels: pkg:instrumentation-winston

#2291 chore: update all otel deps
  package-lock.json
  plugins/web/opentelemetry-plugin-react-load/package.json
Labels: pkg:plugin-react-load

#2302 fix(@opentelemetry/instrumentation-winston): Add extra details about @opentelemetry/winston-transport scenarios
  packages/winston-transport/README.md
  plugins/node/opentelemetry-instrumentation-winston/README.md
Labels: pkg:instrumentation-winston
