Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2024-03, with the labels that each got.

#1979 fix: Add @opentelemetry/api as peerDependencies in @opentelemetry/resource-detector-azure
  detectors/node/opentelemetry-resource-detector-azure/package.json
Labels: pkg:resource-detector-azure

#1989 fix(instrumentaiton-runtime-node)!: rename exported instrumentation to match package name
  plugins/node/instrumentation-runtime-node/README.md
  plugins/node/instrumentation-runtime-node/src/index.ts
  plugins/node/instrumentation-runtime-node/src/instrumentation.ts
  plugins/node/instrumentation-runtime-node/src/types.ts
  plugins/node/instrumentation-runtime-node/test/event_loop_utilization.test.ts
Labels: pkg:instrumentation-runtime-node

#1978 chore(deps): update deps matching "@opentelemetry/*"
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsLambdaDetector.ts
  detectors/node/opentelemetry-resource-detector-aws/test/detectors/AwsEcsDetector.test.ts
  detectors/node/opentelemetry-resource-detector-instana/package.json
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-web/package.json
  package-lock.json
  packages/opentelemetry-test-utils/package.json
  packages/opentelemetry-test-utils/src/resource-assertions.ts
  plugins/node/instrumentation-amqplib/package.json
  plugins/node/instrumentation-cucumber/package.json
  plugins/node/instrumentation-dataloader/package.json
  plugins/node/instrumentation-fs/package.json
  plugins/node/instrumentation-lru-memoizer/package.json
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-runtime-node/package.json
  plugins/node/instrumentation-socket.io/package.json
  plugins/node/instrumentation-tedious/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/dynamodb.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/sns.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/sqs.ts
  plugins/node/opentelemetry-instrumentation-bunyan/package.json
  plugins/node/opentelemetry-instrumentation-cassandra/package.json
  plugins/node/opentelemetry-instrumentation-cassandra/test/cassandra-driver.test.ts
  plugins/node/opentelemetry-instrumentation-connect/package.json
  plugins/node/opentelemetry-instrumentation-dns/package.json
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-generic-pool/package.json
  plugins/node/opentelemetry-instrumentation-graphql/package.json
  plugins/node/opentelemetry-instrumentation-hapi/package.json
  plugins/node/opentelemetry-instrumentation-ioredis/package.json
  plugins/node/opentelemetry-instrumentation-knex/package.json
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-memcached/package.json
  plugins/node/opentelemetry-instrumentation-memcached/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-mysql/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
  plugins/node/opentelemetry-instrumentation-net/package.json
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pino/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/src/utils.ts
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/node/opentelemetry-instrumentation-restify/package.json
  plugins/node/opentelemetry-instrumentation-router/package.json
  plugins/node/opentelemetry-instrumentation-winston/package.json
  plugins/web/opentelemetry-instrumentation-document-load/package.json
  plugins/web/opentelemetry-instrumentation-long-task/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/package.json
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:auto-instrumentations-web, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:instrumentation-cassandra, pkg:test-utils, pkg:instrumentation-runtime-node

#1934 chore(deps): Updated zone.js version to support latest Angular
  metapackages/auto-instrumentations-web/package.json
  package-lock.json
  plugins/web/opentelemetry-instrumentation-long-task/package.json
  plugins/web/opentelemetry-instrumentation-user-interaction/package.json
Labels: pkg:auto-instrumentations-web, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction

#1966 test(instr-express): add test for ESM
  package-lock.json
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-express/test/express.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/fixtures/use-express.mjs
Labels: pkg:instrumentation-express

#1994 chore(instr-runtime-node): update some deps to same versions as other contrib packages
  package-lock.json
  plugins/node/instrumentation-runtime-node/package.json
Labels: pkg:instrumentation-runtime-node

#1971 fix(instrumentation-graphql): limit support to >=14 <17
  plugins/node/opentelemetry-instrumentation-graphql/src/instrumentation.ts
Labels: pkg:instrumentation-graphql

#1984 fix(instrumentation-mongodb)!: temporarily reduce supported range to <6.4
  plugins/node/opentelemetry-instrumentation-mongodb/.tav.yml
  plugins/node/opentelemetry-instrumentation-mongodb/src/instrumentation.ts
Labels: pkg:instrumentation-mongodb

#1965 fix(instrumentation-runtime-node): use TestMetricReader, unref timer
  plugins/node/instrumentation-runtime-node/src/instrumentation.ts
  plugins/node/instrumentation-runtime-node/test/event_loop_utilization.test.ts
Labels: pkg:instrumentation-runtime-node

#1998 chore(instr-mongodb): drop obsolete 'pretest' step from TAV run
  plugins/node/opentelemetry-instrumentation-mongodb/.tav.yml
Labels: pkg:instrumentation-mongodb

#1995 fix(instr-express): normalize paths with double slashes
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-express/test/express.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/utils.ts
Labels: bug, priority:p2, pkg:instrumentation-express

#1999 fix(instr-aws-sdk): ensure that instrumentation does not crash on bogus SQS.sendMessageBatch input
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/sqs.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/sqs.test.ts
Labels: pkg:instrumentation-aws-sdk

#1816 chore: use `@web/test-runner` instead of `karma`
  .github/workflows/unit-test.yml
  package-lock.json
  plugins/web/opentelemetry-instrumentation-document-load/package.json
  plugins/web/opentelemetry-instrumentation-document-load/test/documentLoad.test.ts
  plugins/web/opentelemetry-instrumentation-document-load/test/index-webpack.ts
  plugins/web/opentelemetry-instrumentation-document-load/web-test-runner.config.mjs
Labels: pkg:instrumentation-document-load

#1953 feat(auto-instrumentations-node): enabling instrumentations via env
  metapackages/auto-instrumentations-node/README.md
  metapackages/auto-instrumentations-node/src/utils.ts
  metapackages/auto-instrumentations-node/test/utils.test.ts
Labels: pkg:auto-instrumentations-node

#1982 fix(instrumentation-pg): prevent net.peer.port from being NaN
  plugins/node/opentelemetry-instrumentation-pg/src/utils.ts
  plugins/node/opentelemetry-instrumentation-pg/test/utils.test.ts
Labels: pkg:instrumentation-pg

#2004 test(aws-sdk): update tav to skip 3.529.0
  plugins/node/opentelemetry-instrumentation-aws-sdk/.tav.yml
Labels: pkg:instrumentation-aws-sdk

#1997 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  plugins/node/instrumentation-runtime-node/CHANGELOG.md
  plugins/node/instrumentation-runtime-node/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-express/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-graphql/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-graphql/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-pg/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-pg/package.json
Labels: autorelease: pending, pkg:instrumentation-graphql, pkg:auto-instrumentations-node, pkg:instrumentation-aws-sdk, pkg:instrumentation-express, pkg:instrumentation-mongodb, pkg:instrumentation-pg, pkg:instrumentation-runtime-node

#2002 docs: spelling corrections
  GUIDELINES.md
  README.md
  detectors/node/opentelemetry-resource-detector-aws/test/detectors/AwsEcsDetector.test.ts
  detectors/node/opentelemetry-resource-detector-aws/test/detectors/AwsEksDetector.test.ts
  detectors/node/opentelemetry-resource-detector-container/README.md
  detectors/node/opentelemetry-resource-detector-github/README.md
  detectors/node/opentelemetry-resource-detector-github/src/detectors/GitHubDetector.ts
  examples/express/src/server.ts
  examples/react-load/preact/README.md
  examples/react-load/react/README.md
  packages/opentelemetry-propagation-utils/test/pubsub-propagation.test.ts
  packages/opentelemetry-test-utils/src/instrumentations/index.ts
  packages/opentelemetry-test-utils/src/instrumentations/instrumentation-singleton.ts
  plugins/node/instrumentation-cucumber/test/cucumber.test.ts
  plugins/node/instrumentation-lru-memoizer/test/index.test.ts
  plugins/node/instrumentation-mongoose/src/mongoose.ts
  plugins/node/instrumentation-tedious/test/api.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/README.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/aws-sdk.types.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/propwrap.ts
  plugins/node/opentelemetry-instrumentation-bunyan/README.md
  plugins/node/opentelemetry-instrumentation-connect/src/utils.ts
  plugins/node/opentelemetry-instrumentation-dns/README.md
  plugins/node/opentelemetry-instrumentation-dns/test/functionals/utils.test.ts
  plugins/node/opentelemetry-instrumentation-dns/test/integrations/dns-lookup.test.ts
  plugins/node/opentelemetry-instrumentation-express/README.md
  plugins/node/opentelemetry-instrumentation-express/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-graphql/README.md
  plugins/node/opentelemetry-instrumentation-graphql/src/utils.ts
  plugins/node/opentelemetry-instrumentation-graphql/test/graphql.test.ts
  plugins/node/opentelemetry-instrumentation-hapi/test/hapi.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/README.md
  plugins/node/opentelemetry-instrumentation-mysql/README.md
  plugins/node/opentelemetry-instrumentation-mysql2/src/utils.ts
  plugins/node/opentelemetry-instrumentation-mysql2/test/mysql.test.ts
  plugins/node/opentelemetry-instrumentation-nestjs-core/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-net/src/types.ts
  plugins/node/opentelemetry-instrumentation-redis-4/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-restify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-restify/test/restify.test.ts
  plugins/node/opentelemetry-instrumentation-router/src/utils.ts
  plugins/web/opentelemetry-instrumentation-long-task/README.md
  propagators/opentelemetry-propagator-ot-trace/README.md
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-github, pkg:resource-detector-instana, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-hapi, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-long-task, pkg:propagator-ot-trace, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:instrumentation-cassandra, pkg:test-utils

#2018 docs(auto-instrumentations-node): fix link to HTTP instrumentation
  metapackages/auto-instrumentations-node/README.md
Labels: pkg:auto-instrumentations-node

#2031 chore(instr-express): use exported strings for attributes
  package-lock.json
  plugins/node/opentelemetry-instrumentation-express/README.md
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-express/test/custom-config.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/express.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/hooks.test.ts
Labels: pkg:instrumentation-express

#2019 perf(instrumentation-pg): reduce temp objects allocations
  plugins/node/opentelemetry-instrumentation-pg/src/enums/SpanNames.ts
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/src/utils.ts
Labels: pkg:instrumentation-pg

#2036 fix(instrumentation-runtime-node): mixin default config in constructor
  plugins/node/instrumentation-runtime-node/src/instrumentation.ts
Labels: pkg:instrumentation-runtime-node

#2001 fix(mongodb): `mongodb` v6.4.0 & 6.5.0 support
  .github/workflows/unit-test.yml
  package-lock.json
  plugins/node/opentelemetry-instrumentation-mongodb/.tav.yml
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mongodb/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v3.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v4-v5-v6.metrics.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v4.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v5-v6.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/utils.ts
Labels: pkg:instrumentation-mongodb

#2056 chore: update readme for alibaba resource detector
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/README.md
Labels: pkg:resource-detector-alibaba-cloud

#2049 chore(resource-detector-container): use exported strings for attributes
  detectors/node/opentelemetry-resource-detector-container/package.json
  detectors/node/opentelemetry-resource-detector-container/src/detectors/ContainerDetector.ts
  package-lock.json
Labels: pkg:resource-detector-container
