Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2025-06, with the labels that each got.

#2863 feat(instrumentation-hapi): support migration to stable HTTP semconv, v1.23.1
  plugins/node/opentelemetry-instrumentation-hapi/README.md
  plugins/node/opentelemetry-instrumentation-hapi/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-hapi/src/semconv.ts
  plugins/node/opentelemetry-instrumentation-hapi/src/utils.ts
  plugins/node/opentelemetry-instrumentation-hapi/test/fixtures/use-hapi.js
  plugins/node/opentelemetry-instrumentation-hapi/test/fixtures/use-hapi.mjs
  plugins/node/opentelemetry-instrumentation-hapi/test/hapi.test.ts
Labels: pkg:instrumentation-hapi, has:sponsor, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2865 fix(redis): use new tracer after setTracerProvider
  plugins/node/opentelemetry-instrumentation-redis/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis/src/utils.ts
  plugins/node/opentelemetry-instrumentation-redis/test/redis.test.ts
Labels: pkg:instrumentation-redis

#2875 fix(instr-undici): fix user agent extraction and handle of multiple values on headers
  plugins/node/instrumentation-undici/src/types.ts
  plugins/node/instrumentation-undici/src/undici.ts
  plugins/node/instrumentation-undici/test/undici.test.ts
  plugins/node/instrumentation-undici/test/utils/assertSpan.ts
Labels: pkg:instrumentation-undici

#2873 fix: export KoaLayerType enum correctly
  plugins/node/opentelemetry-instrumentation-koa/src/index.ts
Labels: pkg:instrumentation-koa, has:sponsor, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2843 fix(express): Ensure 404 routes don't attach route attribute
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-express/src/utils.ts
  plugins/node/opentelemetry-instrumentation-express/test/express.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/utils.test.ts
Labels: bug, priority:p2, pkg:instrumentation-express

#2498 fix(instrumentation-dataloader): Patch `batchLoadFn` without creating an instance
  plugins/node/instrumentation-dataloader/src/instrumentation.ts
  plugins/node/instrumentation-dataloader/test/dataloader.test.ts
Labels: pkg:instrumentation-dataloader

#2895 chore: Removed deprecated `LoggerProvider#addLogRecordProcessor()`
  packages/baggage-log-record-processor/test/baggage-log-record-processor.test.ts
  packages/winston-transport/README.md
  packages/winston-transport/test/openTelemetryTransport.test.ts
  plugins/node/opentelemetry-instrumentation-bunyan/test/bunyan.test.ts
  plugins/node/opentelemetry-instrumentation-pino/test/pino.test.ts
  plugins/node/opentelemetry-instrumentation-winston/README.md
  plugins/node/opentelemetry-instrumentation-winston/test/winston.test.ts
Labels: pkg:instrumentation-bunyan, pkg:instrumentation-pino, pkg:instrumentation-winston

#2824 feat(opentelemetry-sampler-aws-xray): Add Rules Caching and Rules Matching Logic
  incubator/opentelemetry-sampler-aws-xray/src/fallback-sampler.ts
  incubator/opentelemetry-sampler-aws-xray/src/remote-sampler.ts
  incubator/opentelemetry-sampler-aws-xray/src/rule-cache.ts
  incubator/opentelemetry-sampler-aws-xray/src/sampling-rule-applier.ts
  incubator/opentelemetry-sampler-aws-xray/src/utils.ts
  incubator/opentelemetry-sampler-aws-xray/test/fallback-sampler.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/remote-sampler.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/rule-cache.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/sampling-rule-applier.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/utils.test.ts
Labels: has:owner-approval
