Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2025-05, with the labels that each got.

#2801 feat(instrumentation-express): add support for Express v5, take 2
  package-lock.json
  plugins/node/opentelemetry-instrumentation-express/.tav.yml
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-express/src/utils.ts
  plugins/node/opentelemetry-instrumentation-express/test/express.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/hooks.test.ts
Labels: pkg:instrumentation-express, has:owner-approval

#2810 test(instrumentation-aws-sdk): update client in bedrock-runtime tests to use NodeHttpHandler instead of the new default NodeHttp2Handler
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/bedrock-runtime.test.ts
Labels: pkg:instrumentation-aws-sdk

#2795 chore: release main
  .release-please-manifest.json
  metapackages/auto-configuration-propagators/CHANGELOG.md
  metapackages/auto-configuration-propagators/package.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  plugins/node/instrumentation-kafkajs/CHANGELOG.md
  plugins/node/instrumentation-kafkajs/package.json
  plugins/node/instrumentation-mongoose/CHANGELOG.md
  plugins/node/instrumentation-mongoose/package.json
  plugins/node/instrumentation-typeorm/CHANGELOG.md
  plugins/node/instrumentation-typeorm/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-express/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-express/package.json
  propagators/propagator-aws-xray-lambda/CHANGELOG.md
  propagators/propagator-aws-xray-lambda/package.json
  propagators/propagator-aws-xray/CHANGELOG.md
  propagators/propagator-aws-xray/package.json
Labels: autorelease: pending, pkg:auto-instrumentations-node, pkg:instrumentation-mongoose, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-express, pkg:instrumentation-kafkajs, pkg-status:unmaintained, pkg:auto-configuration-propagators, pkg:propagator-aws-xray, pkg:propagator-aws-xray-lambda

#2815 test(auto-instrumentations-node): fix spurious test timeout from variable runtime of cloud resource detectors
  metapackages/auto-instrumentations-node/test/register.test.ts
Labels: pkg:auto-instrumentations-node

#2612 feat(oracledb): Add support for Oracle DB instrumentation
  .github/component-label-map.yml
  .github/component_owners.yml
  .github/workflows/test-all-versions.yml
  .github/workflows/unit-test.yml
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/README.md
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-node/src/utils.ts
  package-lock.json
  packages/opentelemetry-test-utils/src/test-utils.ts
  plugins/node/opentelemetry-instrumentation-oracledb/.eslintignore
  plugins/node/opentelemetry-instrumentation-oracledb/.eslintrc.js
  plugins/node/opentelemetry-instrumentation-oracledb/.tav.yml
  plugins/node/opentelemetry-instrumentation-oracledb/LICENSE
  plugins/node/opentelemetry-instrumentation-oracledb/NOTICE.txt
  plugins/node/opentelemetry-instrumentation-oracledb/README.md
  plugins/node/opentelemetry-instrumentation-oracledb/package.json
  plugins/node/opentelemetry-instrumentation-oracledb/src/OracleTelemetryTraceHandler.ts
  plugins/node/opentelemetry-instrumentation-oracledb/src/constants.ts
  plugins/node/opentelemetry-instrumentation-oracledb/src/index.ts
  plugins/node/opentelemetry-instrumentation-oracledb/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-oracledb/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-oracledb/src/semconv.ts
  plugins/node/opentelemetry-instrumentation-oracledb/src/types.ts
  plugins/node/opentelemetry-instrumentation-oracledb/test/oracle.test.ts
  plugins/node/opentelemetry-instrumentation-oracledb/tsconfig.json
  release-please-config.json
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-sdk, pkg:instrumentation-cassandra-driver, pkg:instrumentation-fastify, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-socket.io, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils, pkg:instrumentation-kafkajs

#2771 feat(instrumentation-aws-sdk): add gen ai metrics for bedrock
  package-lock.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/aws-sdk.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/semconv.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/ServiceExtension.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/ServicesExtensions.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/bedrock-runtime.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/aws-sdk-v3-s3.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/aws-sdk-v3-sqs.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/bedrock-runtime.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/kinesis.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/lambda.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/load-instrumentation.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/s3.test.ts
Labels: pkg:instrumentation-aws-sdk, has:owner-approval

#2823 feat(opentelemetry-instrumentation-pg): update types/pg version
  package-lock.json
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pg/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-pg/test/utils.test.ts
Labels: pkg:instrumentation-pg

#2671 feat(instrumentation-knex): Use newer semantic conventions
  package-lock.json
  plugins/node/opentelemetry-instrumentation-knex/README.md
  plugins/node/opentelemetry-instrumentation-knex/package.json
  plugins/node/opentelemetry-instrumentation-knex/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-knex/src/semconv.ts
  plugins/node/opentelemetry-instrumentation-knex/src/utils.ts
Labels: pkg:instrumentation-knex, has:sponsor, pkg-status:unmaintained

#2769 feat(instrumentation-aws-sdk): add gen ai conventions for converse stream span
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/aws-sdk.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/ServiceExtension.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/ServicesExtensions.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/bedrock-runtime.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/bedrock-runtime.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/load-instrumentation.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/mock-responses/bedrock-conversestream-adds-genai-conventions.json
Labels: pkg:instrumentation-aws-sdk, has:owner-approval

#2851 refactor(instrumentation-router): update semconv usage to ATTR_ exports
  plugins/node/opentelemetry-instrumentation-router/src/instrumentation.ts
Labels: pkg:instrumentation-router, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2850 test(instrumentation-pino): update semconv usage to ATTR_ exports
  plugins/node/opentelemetry-instrumentation-pino/test/pino.test.ts
Labels: pkg:instrumentation-pino

#2848 test(instrumentation-graphql): update semconv usage to ATTR_ exports
  plugins/node/opentelemetry-instrumentation-graphql/test/graphql.test.ts
Labels: pkg:instrumentation-graphql

#2847 test(instrumentation-bunyan): update semconv usage to ATTR_ exports
  plugins/node/opentelemetry-instrumentation-bunyan/test/bunyan.test.ts
Labels: pkg:instrumentation-bunyan

#2718 fix(aws-sdk): use `custom` client_context prop
  plugins/node/opentelemetry-instrumentation-aws-sdk/doc/lambda.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/lambda.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/lambda.test.ts
Labels: pkg:instrumentation-aws-sdk, has:owner-approval

#2862 refactor(instrumentation-fastify): update semconv usage to ATTR_ exports
  plugins/node/opentelemetry-instrumentation-fastify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-fastify/test/instrumentation.test.ts
Labels: pkg:instrumentation-fastify, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2857 refactor(resource-detector-instana): update semconv usage to ATTR_ exports
  detectors/node/opentelemetry-resource-detector-instana/README.md
  detectors/node/opentelemetry-resource-detector-instana/package.json
  detectors/node/opentelemetry-resource-detector-instana/src/detectors/InstanaAgentDetector.ts
  detectors/node/opentelemetry-resource-detector-instana/src/semconv.ts
Labels: pkg:resource-detector-instana

#2755 chore(gcp-resource-detector): unit test to prevent a regression and ensure previously set attributes are not overwritten with blank values.
  detectors/node/opentelemetry-resource-detector-gcp/test/detectors/GcpDetector.test.ts
Labels: pkg:resource-detector-gcp

#2864 test: stop using the obsolete AsyncHooksContextManager in tests
  plugins/node/instrumentation-cucumber/test/cucumber.test.ts
  plugins/node/instrumentation-dataloader/test/dataloader.test.ts
  plugins/node/instrumentation-fs/test/fs.test.ts
  plugins/node/instrumentation-fs/test/fsPromises.test.ts
  plugins/node/instrumentation-fs/test/parent.test.ts
  plugins/node/instrumentation-tedious/test/instrumentation.test.ts
  plugins/node/instrumentation-undici/test/fetch.test.ts
  plugins/node/instrumentation-undici/test/metrics.test.ts
  plugins/node/instrumentation-undici/test/undici.test.ts
  plugins/node/opentelemetry-instrumentation-cassandra/test/cassandra-driver.test.ts
  plugins/node/opentelemetry-instrumentation-connect/test/instrumentation.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/custom-config.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/express.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/hooks.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/ignore-all.test.ts
  plugins/node/opentelemetry-instrumentation-fastify/test/instrumentation.test.ts
  plugins/node/opentelemetry-instrumentation-generic-pool/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-hapi/test/hapi-plugin.test.ts
  plugins/node/opentelemetry-instrumentation-hapi/test/hapi-server-ext.test.ts
  plugins/node/opentelemetry-instrumentation-hapi/test/hapi.test.ts
  plugins/node/opentelemetry-instrumentation-ioredis/test/ioredis.test.ts
  plugins/node/opentelemetry-instrumentation-knex/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-koa/test/koa.test.ts
  plugins/node/opentelemetry-instrumentation-memcached/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-mysql/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-mysql2/test/mysql.test.ts
  plugins/node/opentelemetry-instrumentation-nestjs-core/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-net/test/tls.test.ts
  plugins/node/opentelemetry-instrumentation-oracledb/test/oracle.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/utils.test.ts
  plugins/node/opentelemetry-instrumentation-redis/test/redis.test.ts
  plugins/node/opentelemetry-instrumentation-restify/test/restify.test.ts
  plugins/node/opentelemetry-instrumentation-router/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-winston/test/winston.test.ts
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-tedious, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-dataloader, pkg:instrumentation-cucumber, pkg:instrumentation-undici, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled, pkg:instrumentation-oracledb
