Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2025-04, with the labels that each got.

#2778 refactor(auto-instrumentations-node): use env var utility functions to setup diagnostics logging
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-node/src/register.ts
  metapackages/auto-instrumentations-node/src/utils.ts
  metapackages/auto-instrumentations-node/test/utils.test.ts
Labels: pkg:auto-instrumentations-node

#2760 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  packages/baggage-log-record-processor/CHANGELOG.md
  packages/baggage-log-record-processor/package.json
  plugins/node/instrumentation-kafkajs/CHANGELOG.md
  plugins/node/instrumentation-kafkajs/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
Labels: autorelease: pending, pkg:auto-instrumentations-node, pkg:instrumentation-aws-sdk, pkg:instrumentation-nestjs-core, pkg-status:unmaintained

#2761 chore(sampler-aws-xray): add @yiyuanh-he as component owner
  .github/component_owners.yml
  incubator/opentelemetry-sampler-aws-xray/README.md
Labels: pkg:sampler-aws-xray

#2779 docs(instrumentation-fs): update readme
  plugins/node/instrumentation-fs/README.md
  scripts/lint-readme.js
Labels: pkg:instrumentation-fs, has:sponsor, pkg-status:unmaintained

#2787 fix(instrumentation-kafkajs): fix instr to work with kafkajs@1.7.0 and earlier
  .github/component-label-map.yml
  plugins/node/instrumentation-kafkajs/README.md
  plugins/node/instrumentation-kafkajs/src/instrumentation.ts
  plugins/node/instrumentation-kafkajs/test/kafkajs.test.ts
Labels: pkg:instrumentation-kafkajs

#2790 chore(instrumentation-nestjs): update nestjs supported versions
  plugins/node/opentelemetry-instrumentation-nestjs-core/README.md
Labels: pkg:instrumentation-nestjs-core, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2786 feat(auto-instrumentations-node): enable runtime-node
  metapackages/auto-instrumentations-node/README.md
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-node/src/utils.ts
  package-lock.json
  plugins/node/instrumentation-runtime-node/README.md
Labels: pkg:auto-instrumentations-node, pkg:instrumentation-runtime-node

#2682 fix(express): span name if middleware on nested router is used
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-express/src/utils.ts
  plugins/node/opentelemetry-instrumentation-express/test/express.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/fixtures/use-express-nested-router.mjs
Labels: pkg:instrumentation-express, has:owner-approval

#2789 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  plugins/node/instrumentation-kafkajs/CHANGELOG.md
  plugins/node/instrumentation-kafkajs/package.json
  plugins/node/instrumentation-runtime-node/CHANGELOG.md
  plugins/node/instrumentation-runtime-node/package.json
  plugins/node/opentelemetry-instrumentation-express/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-express/package.json
Labels: autorelease: pending, pkg:auto-instrumentations-node, pkg:instrumentation-express, pkg:instrumentation-runtime-node, pkg:instrumentation-kafkajs

#2187 feat: typeorm instrumentation
  .github/component_owners.yml
  .release-please-manifest.json
  package-lock.json
  plugins/node/instrumentation-typeorm/.eslintignore
  plugins/node/instrumentation-typeorm/.eslintrc.js
  plugins/node/instrumentation-typeorm/.tav.yml
  plugins/node/instrumentation-typeorm/LICENSE
  plugins/node/instrumentation-typeorm/NOTICE
  plugins/node/instrumentation-typeorm/README.md
  plugins/node/instrumentation-typeorm/package.json
  plugins/node/instrumentation-typeorm/src/index.ts
  plugins/node/instrumentation-typeorm/src/semconv.ts
  plugins/node/instrumentation-typeorm/src/typeorm.ts
  plugins/node/instrumentation-typeorm/src/types.ts
  plugins/node/instrumentation-typeorm/src/utils/get-func-param-names.ts
  plugins/node/instrumentation-typeorm/src/utils/index.ts
  plugins/node/instrumentation-typeorm/src/utils/suppressTracing.ts
  plugins/node/instrumentation-typeorm/test/Connection.test.ts
  plugins/node/instrumentation-typeorm/test/EntityManager.test.ts
  plugins/node/instrumentation-typeorm/test/QueryBuilder.test.ts
  plugins/node/instrumentation-typeorm/test/Repository.test.ts
  plugins/node/instrumentation-typeorm/test/config.test.ts
  plugins/node/instrumentation-typeorm/test/utils.ts
  plugins/node/instrumentation-typeorm/tsconfig.json
  release-please-config.json
Labels: pkg:instrumentation-typeorm

#2805 fix(instrumentation-kafkajs): add missing delcare keyword for metric instruments
  plugins/node/instrumentation-kafkajs/src/instrumentation.ts
Labels: pkg:instrumentation-kafkajs, has:owner-approval

#2793 fix: instrumentation of ESM-imported mongoose
  plugins/node/instrumentation-mongoose/src/mongoose.ts
  plugins/node/instrumentation-mongoose/test/fixtures/use-mongoose.mjs
  plugins/node/instrumentation-mongoose/test/mongoose-common.test.ts
Labels: bug, priority:p1, pkg:instrumentation-mongoose
