Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2025-09, with the labels that each got.

#2982 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/auto-configuration-propagators/CHANGELOG.md
  packages/auto-configuration-propagators/package.json
  packages/auto-instrumentations-node/CHANGELOG.md
  packages/auto-instrumentations-node/package.json
  packages/auto-instrumentations-web/CHANGELOG.md
  packages/auto-instrumentations-web/package.json
  packages/id-generator-aws-xray/CHANGELOG.md
  packages/id-generator-aws-xray/package.json
  packages/instrumentation-aws-lambda/CHANGELOG.md
  packages/instrumentation-aws-lambda/package.json
  packages/instrumentation-aws-sdk/CHANGELOG.md
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-cucumber/CHANGELOG.md
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-long-task/CHANGELOG.md
  packages/instrumentation-long-task/package.json
  packages/instrumentation-openai/CHANGELOG.md
  packages/instrumentation-openai/package.json
  packages/instrumentation-pg/CHANGELOG.md
  packages/instrumentation-pg/package.json
  packages/instrumentation-pino/CHANGELOG.md
  packages/instrumentation-pino/package.json
  packages/instrumentation-redis/CHANGELOG.md
  packages/instrumentation-redis/package.json
  packages/instrumentation-user-interaction/CHANGELOG.md
  packages/instrumentation-user-interaction/package.json
  packages/plugin-react-load/CHANGELOG.md
  packages/plugin-react-load/package.json
  packages/propagator-aws-xray-lambda/CHANGELOG.md
  packages/propagator-aws-xray-lambda/package.json
  packages/propagator-aws-xray/CHANGELOG.md
  packages/propagator-aws-xray/package.json
  packages/propagator-instana/CHANGELOG.md
  packages/propagator-instana/package.json
  packages/propagator-ot-trace/CHANGELOG.md
  packages/propagator-ot-trace/package.json
Labels: autorelease: pending, pkg:auto-instrumentations-node, pkg:auto-instrumentations-web, pkg:id-generator-aws-xray, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:plugin-react-load, pkg:propagator-instana, pkg:propagator-ot-trace, pkg:instrumentation-cucumber, pkg-status:unmaintained, pkg:auto-configuration-propagators, pkg:propagator-aws-xray, pkg:propagator-aws-xray-lambda

#3005 test(gcp-detector): properly isolate GcpDetectorIntegration.test.ts
  packages/resource-detector-gcp/test/detectors/GcpDetectorIntegration.test.ts
  packages/resource-detector-gcp/test/detectors/fixtures/detect-with-http-instrumentation.mjs
Labels: pkg:resource-detector-gcp

#2855 fix(detector-aws): extract full container ID from ECS Fargate cgroup
  packages/resource-detector-aws/src/detectors/AwsEcsDetector.ts
  packages/resource-detector-aws/test/detectors/AwsEcsDetector.test.ts
Labels: pkg:resource-detector-aws, has:owner-approval

#2866 chore: improve test workflow and coverage reports
  .github/workflows/test-all-versions.pr.yml
  .github/workflows/test-all-versions.push.yml
  .github/workflows/test.yml
  codecov.yml
  package.json
  packages/instrumentation-amqplib/package.json
  packages/instrumentation-aws-lambda/package.json
  packages/instrumentation-bunyan/package.json
  packages/instrumentation-cassandra-driver/package.json
  packages/instrumentation-connect/package.json
  packages/instrumentation-dataloader/package.json
  packages/instrumentation-dns/package.json
  packages/instrumentation-express/package.json
  packages/instrumentation-fastify/package.json
  packages/instrumentation-fs/package.json
  packages/instrumentation-generic-pool/package.json
  packages/instrumentation-graphql/package.json
  packages/instrumentation-hapi/package.json
  packages/instrumentation-ioredis/package.json
  packages/instrumentation-kafkajs/package.json
  packages/instrumentation-knex/package.json
  packages/instrumentation-koa/package.json
  packages/instrumentation-lru-memoizer/package.json
  packages/instrumentation-memcached/package.json
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-mysql/package.json
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-nestjs-core/package.json
  packages/instrumentation-net/package.json
  packages/instrumentation-openai/package.json
  packages/instrumentation-oracledb/package.json
  packages/instrumentation-pino/.tav.yml
  packages/instrumentation-pino/package.json
  packages/instrumentation-restify/package.json
  packages/instrumentation-router/package.json
  packages/instrumentation-runtime-node/package.json
  packages/instrumentation-socket.io/package.json
  packages/instrumentation-tedious/package.json
  packages/instrumentation-typeorm/package.json
  packages/instrumentation-undici/package.json
  packages/instrumentation-user-interaction/package.json
  packages/instrumentation-winston/package.json
  scripts/codecov-upload-flags.mjs
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-user-interaction, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:instrumentation-runtime-node, pkg:instrumentation-undici, has:sponsor, pkg:instrumentation-kafkajs, pkg-status:unmaintained, pkg:instrumentation-oracledb, pkg:instrumentation-openai

#3021 test(mongodb): close the client to avoid affecting other tests
  packages/instrumentation-mongodb/test/mongodb-v3.test.ts
Labels: pkg:instrumentation-mongodb

#3023 chore(instrumentation-pg): skip test if db not running
  packages/instrumentation-pg/test/pg-pool.test.ts
  packages/instrumentation-pg/test/pg.test.ts
Labels: pkg:instrumentation-pg

#3031 chore(instrumentation-openai): add 'license' field to package.json
  packages/instrumentation-openai/package.json
Labels: pkg:instrumentation-openai

#3030 fix(instrumentation-typeorm): trim operation name
  packages/instrumentation-typeorm/src/typeorm.ts
Labels: bug, priority:p2, pkg:instrumentation-typeorm

#3007 feat(resource-detector-gcp)!: contribute Google's comprehensive resource detector
  package-lock.json
  packages/resource-detector-gcp/package.json
  packages/resource-detector-gcp/src/detectors/GcpDetector.ts
  packages/resource-detector-gcp/src/detectors/faas.ts
  packages/resource-detector-gcp/src/detectors/gae.ts
  packages/resource-detector-gcp/src/detectors/gce.ts
  packages/resource-detector-gcp/src/detectors/gke.ts
  packages/resource-detector-gcp/test/detectors/GcpDetector.test.ts
  packages/resource-detector-gcp/test/detectors/faas.test.ts
  packages/resource-detector-gcp/test/detectors/gae.test.ts
  packages/resource-detector-gcp/test/detectors/gce.test.ts
  packages/resource-detector-gcp/test/detectors/gke.test.ts
Labels: pkg:resource-detector-gcp, has:owner-approval

#3045 test(instrumentation-koa): update semconv usage to ATTR_ exports
  packages/instrumentation-koa/test/koa.test.ts
Labels: pkg:instrumentation-koa, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#3042 chore: add missing coverage flags
  .github/workflows/test.yml
  package-lock.json
  package.json
  packages/instrumentation-amqplib/package.json
  packages/instrumentation-aws-lambda/package.json
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-bunyan/package.json
  packages/instrumentation-cassandra-driver/package.json
  packages/instrumentation-connect/package.json
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-dataloader/package.json
  packages/instrumentation-dns/package.json
  packages/instrumentation-express/package.json
  packages/instrumentation-fastify/package.json
  packages/instrumentation-generic-pool/package.json
  packages/instrumentation-graphql/package.json
  packages/instrumentation-hapi/package.json
  packages/instrumentation-ioredis/package.json
  packages/instrumentation-kafkajs/package.json
  packages/instrumentation-knex/package.json
  packages/instrumentation-koa/package.json
  packages/instrumentation-lru-memoizer/package.json
  packages/instrumentation-memcached/package.json
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-mongoose/package.json
  packages/instrumentation-mysql/package.json
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-nestjs-core/package.json
  packages/instrumentation-net/package.json
  packages/instrumentation-openai/package.json
  packages/instrumentation-oracledb/package.json
  packages/instrumentation-pg/package.json
  packages/instrumentation-pino/package.json
  packages/instrumentation-redis/package.json
  packages/instrumentation-restify/package.json
  packages/instrumentation-router/package.json
  packages/instrumentation-runtime-node/package.json
  packages/instrumentation-socket.io/package.json
  packages/instrumentation-tedious/package.json
  packages/instrumentation-typeorm/package.json
  packages/instrumentation-undici/package.json
  packages/instrumentation-winston/package.json
  scripts/codecov-upload-flags.mjs
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-dataloader, pkg:instrumentation-socket.io, pkg:instrumentation-cucumber, pkg:instrumentation-runtime-node, pkg:instrumentation-undici, pkg:instrumentation-kafkajs, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled, pkg:instrumentation-oracledb, pkg:instrumentation-openai

#3048 chore(instrumentation-knex): update semconv usage to ATTR_ exports
  packages/instrumentation-knex/src/instrumentation.ts
  packages/instrumentation-knex/src/semconv.ts
Labels: pkg:instrumentation-knex, has:sponsor, pkg-status:unmaintained

#3047 chore(instrumentation-document-load): update semconv usage to ATTR_ exports
  packages/instrumentation-document-load/package.json
  packages/instrumentation-document-load/src/instrumentation.ts
  packages/instrumentation-document-load/src/semconv.ts
  packages/instrumentation-document-load/test/documentLoad.test.ts
Labels: pkg:instrumentation-document-load

#3053 chore(instrumentation-tedious): update semconv usage to ATTR_ exports
  package-lock.json
  packages/instrumentation-tedious/package.json
  packages/instrumentation-tedious/src/instrumentation.ts
  packages/instrumentation-tedious/src/semconv.ts
  packages/instrumentation-tedious/test/instrumentation.test.ts
Labels: pkg:instrumentation-tedious, pkg-status:unmaintained

#3056 chore(instrumentation-net): update semconv usage to ATTR_ exports
  packages/instrumentation-net/package.json
  packages/instrumentation-net/src/instrumentation.ts
  packages/instrumentation-net/src/semconv.ts
  packages/instrumentation-net/src/utils.ts
  packages/instrumentation-net/test/connect.test.ts
  packages/instrumentation-net/test/utils.ts
Labels: pkg:instrumentation-net

#3060 chore(resource-detector-gcp): update semconv usage to ATTR_ exports
  packages/resource-detector-gcp/package.json
  packages/resource-detector-gcp/src/detectors/GcpDetector.ts
  packages/resource-detector-gcp/src/semconv.ts
Labels: pkg:resource-detector-gcp

#3049 chore(instrumentation-aws-lambda): update semconv usage to ATTR_ exports
  packages/instrumentation-aws-lambda/src/instrumentation.ts
  packages/instrumentation-aws-lambda/src/semconv-obsolete.ts
  packages/instrumentation-aws-lambda/src/semconv.ts
  packages/instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
Labels: pkg:instrumentation-aws-lambda

#3054 chore(instrumentation-mysql2): update semconv usage to ATTR_ exports
  package-lock.json
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-mysql2/src/instrumentation.ts
  packages/instrumentation-mysql2/src/semconv.ts
  packages/instrumentation-mysql2/src/utils.ts
  packages/instrumentation-mysql2/test/mysql.test.ts
Labels: pkg:instrumentation-mysql2

#3052 chore(instrumentation-mysql): update semconv usage to ATTR_ exports
  package-lock.json
  packages/instrumentation-mysql/package.json
  packages/instrumentation-mysql/src/instrumentation.ts
  packages/instrumentation-mysql/src/semconv.ts
  packages/instrumentation-mysql/src/utils.ts
  packages/instrumentation-mysql/test/index.test.ts
Labels: pkg:instrumentation-mysql, has:sponsor, pkg-status:unmaintained

#3051 chore(resource-detector-alibaba-cloud): update semconv usage to ATTR_ exports
  package-lock.json
  packages/resource-detector-alibaba-cloud/package.json
  packages/resource-detector-alibaba-cloud/src/detectors/AlibabaCloudEcsDetector.ts
  packages/resource-detector-alibaba-cloud/src/semconv.ts
  packages/resource-detector-alibaba-cloud/test/detectors/AlibabaCloudEcsDetector.test.ts
Labels: pkg:resource-detector-alibaba-cloud

#3063 feat(resource-detector-azure)!: update semconv usage to ATTR_ exports, update to semconv v1.37.0
  packages/resource-detector-azure/README.md
  packages/resource-detector-azure/package.json
  packages/resource-detector-azure/src/detectors/AzureAppServiceDetector.ts
  packages/resource-detector-azure/src/detectors/AzureFunctionsDetector.ts
  packages/resource-detector-azure/src/detectors/AzureVmDetector.ts
  packages/resource-detector-azure/src/semconv.ts
  packages/resource-detector-azure/test/detectors/AzureAppServiceDetector.test.ts
  packages/resource-detector-azure/test/detectors/AzureFunctionsDetector.test.ts
  packages/resource-detector-azure/test/detectors/AzureVmDetector.test.ts
Labels: pkg:resource-detector-azure

#3073 chore(resource-detector-aws): update semconv usage to modern exports
  packages/resource-detector-aws/test/detectors/AwsBeanstalkDetector.test.ts
Labels: pkg:resource-detector-aws

#3074 chore(instrumentation-undici): update semconv usage to modern exports
  package-lock.json
  packages/instrumentation-undici/package.json
  packages/instrumentation-undici/src/enums/SemanticAttributes.ts
  packages/instrumentation-undici/src/undici.ts
  packages/instrumentation-undici/test/metrics.test.ts
  packages/instrumentation-undici/test/utils/assertSpan.ts
Labels: pkg:instrumentation-undici

#3077 feat(instrumentation-aws-sdk): support migration to stable HTTP semconv
  packages/instrumentation-aws-sdk/README.md
  packages/instrumentation-aws-sdk/src/aws-sdk.ts
  packages/instrumentation-aws-sdk/test/aws-sdk-v3-s3.test.ts
  packages/instrumentation-aws-sdk/test/aws-sdk-v3-sqs.test.ts
  packages/instrumentation-aws-sdk/test/load-instrumentation.ts
Labels: pkg:instrumentation-aws-sdk

#2923 fix: Enable union type support in @opentelemetry/instrumentation-graphql (#1506)
  packages/instrumentation-graphql/src/utils.ts
  packages/instrumentation-graphql/test/graphql.test.ts
  packages/instrumentation-graphql/test/schema.ts
Labels: pkg:instrumentation-graphql

#3036 test(instrumentation-mongoose): add Mongoose guard to skip tests
  .github/workflows/test-all-versions.yml
  .github/workflows/test.yml
  packages/instrumentation-mongoose/test/mongoose-common.test.ts
  packages/instrumentation-mongoose/test/mongoose-v5-v6.test.ts
  packages/instrumentation-mongoose/test/mongoose-v7-v8.test.ts
  test/test-services.env
Labels: pkg:instrumentation-mongoose

#2970 feat(instrumentation-aws-lambda): support streaming handlers
  packages/instrumentation-aws-lambda/src/instrumentation.ts
  packages/instrumentation-aws-lambda/src/internal-types.ts
  packages/instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
  packages/instrumentation-aws-lambda/test/lambda-test/streaming.js
Labels: pkg:instrumentation-aws-lambda, has:owner-approval

#3115 fix: force new release PR
  packages/instrumentation-bunyan/README.md
Labels: pkg:instrumentation-bunyan

#3125 chore(instrumentation-undici): update metric names to semconv `METRIC_*` exports
  packages/instrumentation-undici/src/undici.ts
Labels: pkg:instrumentation-undici
