Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2025-02, with the labels that each got.

#2650 fix(instrumentation-knex): Support better-sqlite3 errors
  package-lock.json
  plugins/node/opentelemetry-instrumentation-knex/package.json
  plugins/node/opentelemetry-instrumentation-knex/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-knex/src/utils.ts
  plugins/node/opentelemetry-instrumentation-knex/test/index.test.ts
Labels: bug, pkg:instrumentation-knex, pkg-status:unmaintained

#2674 fix(detector-aws): replace ecs deprecated semconv consts and hardcoded strings
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEcsDetector.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEcsDetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/SemanticResourceAttributes.ts
  detectors/node/opentelemetry-resource-detector-aws/src/semconv.ts
  detectors/node/opentelemetry-resource-detector-aws/test/detectors/AwsEcsDetector.test.ts
  detectors/node/opentelemetry-resource-detector-aws/test/detectors/AwsEcsDetectorSync.test.ts
Labels: pkg:resource-detector-aws, has:owner-approval

#2699 fix(instrumentation-pino): log-sending was losing records when the level was reduced
  plugins/node/opentelemetry-instrumentation-pino/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pino/test/pino.test.ts
Labels: pkg:instrumentation-pino

#2694 test(cucumber): join all paths with path module
  plugins/node/instrumentation-cucumber/test/cucumber.test.ts
Labels: pkg:instrumentation-cucumber

#2695 chore: Update README.md
  plugins/web/opentelemetry-instrumentation-user-interaction/README.md
Labels: pkg:instrumentation-user-interaction

#2681 test(instrumentation-mongodb): Include all versions in coverage
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v3.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v4.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v5-v6.test.ts
Labels: pkg:instrumentation-mongodb, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2658 feat(instrumentation-mongodb): Add `requireParentSpan` config option.
  plugins/node/opentelemetry-instrumentation-mongodb/README.md
  plugins/node/opentelemetry-instrumentation-mongodb/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mongodb/src/types.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v3.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v4.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v5-v6.test.ts
Labels: pkg:instrumentation-mongodb, has:sponsor, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2704 refactor: use isWrapped from instrumentation package
  plugins/web/opentelemetry-instrumentation-user-interaction/test/userInteraction.nozone.test.ts
  plugins/web/opentelemetry-plugin-react-load/src/BaseOpenTelemetryComponent.ts
  plugins/web/opentelemetry-plugin-react-load/test/BaseOpenTelemetryComponent.test.ts
Labels: pkg:instrumentation-user-interaction, pkg:plugin-react-load

#2569 chore: add 'lint:semconv-deps'
  package.json
  scripts/lint-semconv-deps.mjs
Labels: pkg:instrumentation-aws-lambda, has:owner-approval

#2705 refactor(resource-detector-gcp): migrate away from getEnv()
  detectors/node/opentelemetry-resource-detector-gcp/src/detectors/GcpDetector.ts
Labels: pkg:resource-detector-gcp

#2709 chore: restore lint:deps checking; fix some deps issues
  package-lock.json
  package.json
  packages/opentelemetry-test-utils/package.json
  plugins/web/opentelemetry-plugin-react-load/package.json
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-sdk, pkg:instrumentation-cassandra-driver, pkg:instrumentation-fastify, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:plugin-react-load, pkg:instrumentation-socket.io, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils

#2708 refactor(auto-instrumentations-node): migrate away from getEnv()
  metapackages/auto-instrumentations-node/src/register.ts
  metapackages/auto-instrumentations-node/src/utils.ts
  metapackages/auto-instrumentations-node/test/utils.test.ts
Labels: pkg:auto-instrumentations-node

#2589 feat(detector-aws): add more lambda semconv attributes
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsLambdaDetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/src/semconv.ts
  detectors/node/opentelemetry-resource-detector-aws/test/detectors/AwsLambdaDetector.test.ts
  detectors/node/opentelemetry-resource-detector-aws/test/detectors/AwsLambdaDetectorSync.test.ts
Labels: pkg:resource-detector-aws, has:owner-approval

#2684 test(instrumentation-winston): Include all versions in coverage
  plugins/node/opentelemetry-instrumentation-winston/package.json
Labels: pkg:instrumentation-winston

#2731 chore(runtime-node): use mocha dep from monorepo package.json
  package-lock.json
  plugins/node/instrumentation-runtime-node/package.json
Labels: pkg:instrumentation-runtime-node

#2715 fix(instrumentation-pg): connection string parsing
  plugins/node/opentelemetry-instrumentation-pg/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-pg/src/utils.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/utils.test.ts
Labels: pkg:instrumentation-pg
