Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2025-08, with the labels that each got.

#2959 feat(instrumentation-cucumber): switch from deprecated attributes to stable
  packages/instrumentation-cucumber/README.md
  packages/instrumentation-cucumber/src/instrumentation.ts
  packages/instrumentation-cucumber/test/cucumber.test.ts
Labels: pkg:instrumentation-cucumber

#2980 chore: typo in document-load instrumentation
  packages/instrumentation-document-load/test/documentLoad.test.ts
Labels: pkg:instrumentation-document-load

#2958 feat(instrumentation-cucumber): include @cucumber/cucumber@12
  package-lock.json
  packages/instrumentation-cucumber/.tav.yml
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-cucumber/src/instrumentation.ts
Labels: pkg:instrumentation-cucumber

#3003 test(instr-mongodb): fix tests mongdb tests for 6.19.0
  package-lock.json
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-mongodb/test/mongodb-v5-v6.test.ts
Labels: pkg:instrumentation-mongodb
