Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2025-07, with the labels that each got.

#2915 feat(instrumentation-redis)!: consolidate redis v2,3 and redis v4 instrumentation to one package
  .github/component-label-map.yml
  .github/component_owners.yml
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-node/src/utils.ts
  package-lock.json
  packages/opentelemetry-redis-common/README.md
  plugins/node/opentelemetry-instrumentation-redis-4/.eslintignore
  plugins/node/opentelemetry-instrumentation-redis-4/.eslintrc.js
  plugins/node/opentelemetry-instrumentation-redis-4/.tav.yml
  plugins/node/opentelemetry-instrumentation-redis-4/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-redis-4/LICENSE
  plugins/node/opentelemetry-instrumentation-redis-4/README.md
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/src/types.ts
  plugins/node/opentelemetry-instrumentation-redis-4/tsconfig.json
  plugins/node/opentelemetry-instrumentation-redis/.tav.yml
  plugins/node/opentelemetry-instrumentation-redis/README.md
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/node/opentelemetry-instrumentation-redis/src/index.ts
  plugins/node/opentelemetry-instrumentation-redis/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-redis/src/redis.ts
  plugins/node/opentelemetry-instrumentation-redis/src/types.ts
  plugins/node/opentelemetry-instrumentation-redis/src/v2-v3/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis/src/v2-v3/internal-types.ts
  plugins/node/opentelemetry-instrumentation-redis/src/v2-v3/utils.ts
  plugins/node/opentelemetry-instrumentation-redis/src/v4/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis/src/v4/internal-types.ts
  plugins/node/opentelemetry-instrumentation-redis/src/v4/utils.ts
  plugins/node/opentelemetry-instrumentation-redis/test/v2-v3/redis.test.ts
  plugins/node/opentelemetry-instrumentation-redis/test/v4/redis.test.ts
  plugins/node/opentelemetry-instrumentation-redis/test/v4/utils.ts
  release-please-config.json
Labels: pkg:instrumentation-ioredis, pkg:auto-instrumentations-node, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:redis-common, pkg-status:unmaintained

#2883 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-web/CHANGELOG.md
  metapackages/auto-instrumentations-web/package.json
  package-lock.json
  packages/opentelemetry-redis-common/CHANGELOG.md
  packages/opentelemetry-redis-common/package.json
  plugins/node/instrumentation-cucumber/CHANGELOG.md
  plugins/node/instrumentation-cucumber/package.json
  plugins/node/instrumentation-dataloader/CHANGELOG.md
  plugins/node/instrumentation-dataloader/package.json
  plugins/node/instrumentation-tedious/CHANGELOG.md
  plugins/node/instrumentation-tedious/package.json
  plugins/node/instrumentation-undici/CHANGELOG.md
  plugins/node/instrumentation-undici/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-express/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/node/opentelemetry-instrumentation-fastify/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-fastify/package.json
  plugins/node/opentelemetry-instrumentation-generic-pool/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-generic-pool/package.json
  plugins/node/opentelemetry-instrumentation-ioredis/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-ioredis/package.json
  plugins/node/opentelemetry-instrumentation-koa/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-koa/package.json
  plugins/node/opentelemetry-instrumentation-mysql/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mysql/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
  plugins/node/opentelemetry-instrumentation-pg/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pino/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-pino/package.json
  plugins/node/opentelemetry-instrumentation-redis/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/node/opentelemetry-instrumentation-restify/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-restify/package.json
  plugins/web/opentelemetry-instrumentation-document-load/CHANGELOG.md
  plugins/web/opentelemetry-instrumentation-document-load/package.json
  plugins/web/opentelemetry-plugin-react-load/CHANGELOG.md
  plugins/web/opentelemetry-plugin-react-load/package.json
Labels: autorelease: pending, pkg:instrumentation-ioredis, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-restify, pkg:auto-instrumentations-node, pkg:auto-instrumentations-web, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-aws-sdk, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-koa, pkg:instrumentation-nestjs-core, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis, pkg:instrumentation-document-load, pkg:plugin-react-load, pkg:instrumentation-dataloader, pkg:instrumentation-cucumber, pkg:redis-common, pkg:instrumentation-undici, pkg-status:unmaintained

#2881 feat(instrumentation-pg): update to stable semantic conventions
  package-lock.json
  packages/instrumentation-pg/README.md
  packages/instrumentation-pg/package.json
  packages/instrumentation-pg/src/instrumentation.ts
  packages/instrumentation-pg/src/internal-types.ts
  packages/instrumentation-pg/src/semconv.ts
  packages/instrumentation-pg/src/utils.ts
  packages/instrumentation-pg/test/pg-pool.test.ts
  packages/instrumentation-pg/test/pg.test.ts
  packages/instrumentation-pg/test/utils.test.ts
Labels: pkg:instrumentation-pg

#2938 chore(instrumentation-mysql): use the intended _updateMetricInstruments
  packages/instrumentation-mysql/src/instrumentation.ts
Labels: pkg:instrumentation-mysql, has:sponsor, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2946 fix(instrumentation-runtime-node): fix .isEnabled()
  packages/instrumentation-runtime-node/src/instrumentation.ts
  packages/instrumentation-runtime-node/test/instrumentation.test.ts
Labels: pkg:instrumentation-runtime-node

#2956 fix(winston-transport, instrumentation-winston): get the correct severityText and severityNumber with winston.format.colorize() is used
  packages/instrumentation-winston/package.json
  packages/instrumentation-winston/test/winston.test.ts
  packages/winston-transport/src/utils.ts
  packages/winston-transport/test/openTelemetryTransport.test.ts
Labels: pkg:instrumentation-winston
