Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2025-10, with the labels that each got.

#3126 chore(instrumentation-aws-sdk): update metric names to semconv `METRIC_*` exports
  packages/instrumentation-aws-sdk/src/semconv.ts
  packages/instrumentation-aws-sdk/src/services/bedrock-runtime.ts
Labels: pkg:instrumentation-aws-sdk

#3133 chore(instrumentation-aws-sdk): update metric names to semconv `METRIC_*` exports (take 2)
  packages/instrumentation-aws-sdk/src/semconv.ts
  packages/instrumentation-aws-sdk/src/services/bedrock-runtime.ts
Labels: pkg:instrumentation-aws-sdk

#3150 feat(instrumentation-pino): support pino@10
  packages/instrumentation-pino/.tav.yml
  packages/instrumentation-pino/src/instrumentation.ts
Labels: pkg:instrumentation-pino

#3153 test(instrumentation-mongoose): reduce number of versions tested
  packages/instrumentation-mongoose/.tav.yml
Labels: pkg:instrumentation-mongoose

#3154 test(mysql2): reduce number of versions tested
  packages/instrumentation-mysql2/.tav.yml
Labels: pkg:instrumentation-mysql2

#3155 test(typeorm): reduce number of versions tested
  packages/instrumentation-typeorm/.tav.yml
Labels: has:owner-approval

#3158 test(instrumentation-mysql2): fix error in .tav.yml that resulted in no command to run
  packages/instrumentation-mysql2/.tav.yml
Labels: pkg:instrumentation-mysql2

#3159 docs(instrumentation-express): update README to note that express@5 is supported
  packages/instrumentation-express/README.md
Labels: pkg:instrumentation-express
