Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2025-03, with the labels that each got.

#2753 fix(instrumentation-aws-lambda): Change endSpan error-logs for forceflush into debug-logs
  plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts
Labels: pkg:instrumentation-aws-lambda

#2723 test(instrumentation-aws-sdk): update devDeps to modern version of instrumented packages
  package-lock.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/.tav.yml
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/aws-sdk-v3-s3.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/aws-sdk-v3-sqs.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/s3.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/sqs.test.ts
  scripts/skip-test-if.js
Labels: pkg:instrumentation-aws-sdk

#2758 feat(instrumentation-kafkajs)!: add .tav.yml and narrow support range to (>=0.3.0 <3)
  plugins/node/instrumentation-kafkajs/.tav.yml
  plugins/node/instrumentation-kafkajs/README.md
  plugins/node/instrumentation-kafkajs/package.json
  plugins/node/instrumentation-kafkajs/src/instrumentation.ts
Labels: pkg:instrumentation-kafkajs, has:owner-approval

#2700 feat(instrumentation-aws-sdk): add bedrock extension to apply gen ai conventions
  package-lock.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/.tav.yml
  plugins/node/opentelemetry-instrumentation-aws-sdk/README.md
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/aws-sdk.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/semconv.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/ServicesExtensions.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/bedrock-runtime.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/bedrock-runtime.test.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/mock-responses/bedrock-converse-adds-genai-conventions.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodel-does-not-currently-add-genai-conventions.json
Labels: pkg:instrumentation-aws-sdk

#2685 feat(instrumentation-nestjs-core): add support for NestJS 11
  package-lock.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/.tav.yml
  plugins/node/opentelemetry-instrumentation-nestjs-core/package.json
  plugins/node/opentelemetry-instrumentation-nestjs-core/src/instrumentation.ts
Labels: pkg:instrumentation-nestjs-core, has:sponsor, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2768 chore: update auto-instrumentations README.md
  metapackages/auto-instrumentations-node/README.md
Labels: pkg:auto-instrumentations-node

#2767 chore(host-metrics): do not diag.warn if using default options
  packages/opentelemetry-host-metrics/src/BaseMetrics.ts
Labels: pkg:host-metrics

#2764 test(instr-mongodb): remove tests for v3 to avoid CI failures
  package-lock.json
  plugins/node/opentelemetry-instrumentation-mongodb/package.json
Labels: pkg:instrumentation-mongodb

#2752 feat(instrumentation-kafkajs): update semantic conventions
  package-lock.json
  plugins/node/instrumentation-kafkajs/README.md
  plugins/node/instrumentation-kafkajs/package.json
  plugins/node/instrumentation-kafkajs/src/instrumentation.ts
  plugins/node/instrumentation-kafkajs/src/internal-types.ts
  plugins/node/instrumentation-kafkajs/src/semconv.ts
  plugins/node/instrumentation-kafkajs/test/kafkajs.test.ts
Labels: has:owner-approval
