Repository open-telemetry/opentelemetry-js-contrib, pull requests merged in 2025-01, with the labels that each got.

#2625 fix(instrumentation-hapi): fix this binding for plugin register method
  plugins/node/opentelemetry-instrumentation-hapi/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-hapi/test/hapi-plugin.test.ts
Labels: pkg:instrumentation-hapi, pkg-status:unmaintained

#2626 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  packages/opentelemetry-host-metrics/CHANGELOG.md
  packages/opentelemetry-host-metrics/package.json
  plugins/node/opentelemetry-instrumentation-hapi/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-hapi/package.json
Labels: autorelease: pending, pkg:auto-instrumentations-node, pkg:host-metrics, pkg:instrumentation-hapi, pkg-status:unmaintained

#2628 test(aws-sdk): set v3 versions based on Node.js support
  plugins/node/opentelemetry-instrumentation-aws-sdk/.tav.yml
Labels: pkg:instrumentation-aws-sdk

#2604 fix(propagator-aws-xray): correctly propagate over grpc
  propagators/propagator-aws-xray/src/AWSXRayPropagator.ts
  propagators/propagator-aws-xray/test/AWSXRayPropagator.test.ts
Labels: pkg:propagator-aws-xray

#2631 fix(instrumentation-runtime-node): use the correct unit for eventloop.utilization
  plugins/node/instrumentation-runtime-node/src/metrics/eventLoopUtilizationCollector.ts
  plugins/node/instrumentation-runtime-node/test/event_loop_utilization.test.ts
Labels: pkg:instrumentation-runtime-node

#2634 chore: release main
  .release-please-manifest.json
  metapackages/auto-configuration-propagators/CHANGELOG.md
  metapackages/auto-configuration-propagators/package.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  plugins/node/instrumentation-runtime-node/CHANGELOG.md
  plugins/node/instrumentation-runtime-node/package.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  propagators/propagator-aws-xray-lambda/CHANGELOG.md
  propagators/propagator-aws-xray-lambda/package.json
  propagators/propagator-aws-xray/CHANGELOG.md
  propagators/propagator-aws-xray/package.json
Labels: autorelease: pending, pkg:auto-instrumentations-node, pkg:instrumentation-aws-lambda, pkg:instrumentation-runtime-node, pkg-status:unmaintained, pkg:auto-configuration-propagators, pkg:propagator-aws-xray, pkg:propagator-aws-xray-lambda

#2636 feat(detectors): generate esm build files too
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/package.json
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/tsconfig.esm.json
  detectors/node/opentelemetry-resource-detector-aws/package.json
  detectors/node/opentelemetry-resource-detector-aws/tsconfig.esm.json
  detectors/node/opentelemetry-resource-detector-azure/package.json
  detectors/node/opentelemetry-resource-detector-azure/tsconfig.esm.json
  detectors/node/opentelemetry-resource-detector-container/package.json
  detectors/node/opentelemetry-resource-detector-container/tsconfig.esm.json
  detectors/node/opentelemetry-resource-detector-gcp/package.json
  detectors/node/opentelemetry-resource-detector-gcp/tsconfig.esm.json
  detectors/node/opentelemetry-resource-detector-github/package.json
  detectors/node/opentelemetry-resource-detector-github/tsconfig.esm.json
  detectors/node/opentelemetry-resource-detector-instana/package.json
  detectors/node/opentelemetry-resource-detector-instana/tsconfig.esm.json
Labels: pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-github, pkg:resource-detector-instana, pkg:resource-detector-container, pkg:resource-detector-azure, pkg-status:unmaintained

#2643 test(instrumentation-aws-sdk): adapt tav versions include rule for v14 and v16
  plugins/node/opentelemetry-instrumentation-aws-sdk/.tav.yml
Labels: pkg:instrumentation-aws-sdk

#2639 chore(aws-sdk): remove dependency on SQS type from JS SDK v2
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/sqs.ts
Labels: pkg:instrumentation-aws-sdk, has:owner-approval

#2633 fix(instrumentation-fastify): add missing module export
  plugins/node/opentelemetry-instrumentation-fastify/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-fastify/test/instrumentation.test.ts
Labels: bug, pkg:instrumentation-fastify, pkg-status:unmaintained

#2663 feat(detectors): mark as side effect free
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/package.json
  detectors/node/opentelemetry-resource-detector-aws/package.json
  detectors/node/opentelemetry-resource-detector-azure/package.json
  detectors/node/opentelemetry-resource-detector-container/package.json
  detectors/node/opentelemetry-resource-detector-gcp/package.json
  detectors/node/opentelemetry-resource-detector-github/package.json
  detectors/node/opentelemetry-resource-detector-instana/package.json
Labels: pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-github, pkg:resource-detector-instana, pkg:resource-detector-container, pkg:resource-detector-azure, pkg-status:unmaintained

#2642 fix(detector-aws): remove all deprecation warnings
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsBeanstalkDetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEc2DetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEcsDetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEksDetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsLambdaDetectorSync.ts
Labels: pkg:resource-detector-aws, has:owner-approval

#2666 fix(auto-instrumentations-node): correct typo
  metapackages/auto-instrumentations-node/test/register.test.ts
  metapackages/auto-instrumentations-node/test/test-app/app-server.js
Labels: pkg:auto-instrumentations-node

#2664 chore(instrumentation-pg): have `@opentelemetry/semantic-conventions` package dependency with caret (`^`) version to sync with other instrumentation packages
  package-lock.json
  plugins/node/opentelemetry-instrumentation-pg/package.json
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/src/semconv.ts
  plugins/node/opentelemetry-instrumentation-pg/src/utils.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
Labels: pkg:instrumentation-pg

#2670 fix(instrumentation-aws-lambda): do not import from semantic-conventions incubating entry-point
  plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-aws-lambda/src/semconv.ts
Labels: pkg:instrumentation-aws-lambda, has:owner-approval

#2668 fix(detector-aws): remove semconv incubating import
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsBeanstalkDetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEc2DetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEcsDetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsEksDetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/src/detectors/AwsLambdaDetectorSync.ts
  detectors/node/opentelemetry-resource-detector-aws/src/semconv.ts
Labels: pkg:resource-detector-aws, pkg:instrumentation-pg

#2667 fix(auto-instrumentations-node): make SIGTERM shutdown test more reliable
  metapackages/auto-instrumentations-node/test/test-app/app-server.js
Labels: pkg:auto-instrumentations-node

#2637 chore: release main
  .release-please-manifest.json
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-alibaba-cloud/package.json
  detectors/node/opentelemetry-resource-detector-aws/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-aws/package.json
  detectors/node/opentelemetry-resource-detector-azure/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-azure/package.json
  detectors/node/opentelemetry-resource-detector-container/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-container/package.json
  detectors/node/opentelemetry-resource-detector-gcp/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-gcp/package.json
  detectors/node/opentelemetry-resource-detector-github/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-github/package.json
  detectors/node/opentelemetry-resource-detector-instana/CHANGELOG.md
  detectors/node/opentelemetry-resource-detector-instana/package.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  plugins/node/opentelemetry-instrumentation-aws-lambda/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-aws-lambda/package.json
  plugins/node/opentelemetry-instrumentation-fastify/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-fastify/package.json
Labels: autorelease: pending, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-github, pkg:resource-detector-instana, pkg:auto-instrumentations-node, pkg:instrumentation-aws-lambda, pkg:instrumentation-fastify, pkg:resource-detector-container, pkg:resource-detector-azure, pkg-status:unmaintained

#2563 feat(pg): Patch client inside `lib` and `lib/pg-native`
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/test/fixtures/use-pg.mjs
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
Labels: pkg:instrumentation-pg

#2662 fix: missing telemetry in mysql2 when importing only promise API
  plugins/node/opentelemetry-instrumentation-mysql2/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-mysql2/src/utils.ts
  plugins/node/opentelemetry-instrumentation-mysql2/test/mysql.test.ts
Labels: bug, pkg:instrumentation-mysql2, pkg-status:unmaintained

#2660 refactor(test-utils): Migrate away from deprecated `addSpanProcessor`
  packages/opentelemetry-test-utils/src/instrumentations/otel-default-provider.ts
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:resource-detector-alibaba-cloud, pkg:resource-detector-aws, pkg:resource-detector-gcp, pkg:resource-detector-instana, pkg:propagation-utils, pkg:instrumentation-amqplib, pkg:instrumentation-lru-memoizer, pkg:instrumentation-mongoose, pkg:instrumentation-tedious, pkg:instrumentation-aws-sdk, pkg:instrumentation-cassandra-driver, pkg:instrumentation-fastify, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-mongodb, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis-4, pkg:instrumentation-redis, pkg:instrumentation-socket.io, pkg:sampler-aws-xray, pkg:resource-detector-container, pkg:resource-detector-azure, pkg:test-utils

#2657 docs(*): Migrate away from deprecated `addSpanProcessor` in README
  metapackages/auto-instrumentations-node/README.md
  metapackages/auto-instrumentations-web/README.md
  plugins/node/instrumentation-undici/README.md
  plugins/node/opentelemetry-instrumentation-generic-pool/README.md
  plugins/node/opentelemetry-instrumentation-knex/README.md
  plugins/node/opentelemetry-instrumentation-restify/README.md
  plugins/node/opentelemetry-instrumentation-router/README.md
  plugins/web/opentelemetry-instrumentation-document-load/README.md
  plugins/web/opentelemetry-instrumentation-long-task/README.md
  plugins/web/opentelemetry-instrumentation-user-interaction/README.md
Labels: pkg:instrumentation-restify, pkg:auto-instrumentations-node, pkg:auto-instrumentations-web, pkg:instrumentation-generic-pool, pkg:instrumentation-knex, pkg:instrumentation-router, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:instrumentation-undici, pkg-status:unmaintained, pkg-status:unmaintained:autoclose-scheduled

#2659 fix(*): Migrate away from deprecated `addSpanProcessor` in tests
  plugins/node/instrumentation-cucumber/test/cucumber.test.ts
  plugins/node/instrumentation-dataloader/test/dataloader.test.ts
  plugins/node/instrumentation-fs/test/fs.test.ts
  plugins/node/instrumentation-fs/test/fsHooks.test.ts
  plugins/node/instrumentation-fs/test/fsPromises.test.ts
  plugins/node/instrumentation-fs/test/fsPromisesHooks.test.ts
  plugins/node/instrumentation-fs/test/parent.test.ts
  plugins/node/instrumentation-tedious/test/instrumentation.test.ts
  plugins/node/instrumentation-undici/test/fetch.test.ts
  plugins/node/instrumentation-undici/test/undici.test.ts
  plugins/node/opentelemetry-instrumentation-aws-lambda/test/integrations/lambda-handler.force-flush.test.ts
  plugins/node/opentelemetry-instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
  plugins/node/opentelemetry-instrumentation-bunyan/test/bunyan.test.ts
  plugins/node/opentelemetry-instrumentation-cassandra/test/cassandra-driver.test.ts
  plugins/node/opentelemetry-instrumentation-connect/test/instrumentation.test.ts
  plugins/node/opentelemetry-instrumentation-dns/test/functionals/dns-disable.test.ts
  plugins/node/opentelemetry-instrumentation-dns/test/integrations/dns-lookup.test.ts
  plugins/node/opentelemetry-instrumentation-dns/test/integrations/dns-slash-promises-lookup.test.ts
  plugins/node/opentelemetry-instrumentation-dns/test/integrations/dnspromise-lookup.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/custom-config.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/express.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/hooks.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/ignore-all.test.ts
  plugins/node/opentelemetry-instrumentation-fastify/test/instrumentation.test.ts
  plugins/node/opentelemetry-instrumentation-generic-pool/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-graphql/test/graphql.test.ts
  plugins/node/opentelemetry-instrumentation-hapi/test/hapi-plugin.test.ts
  plugins/node/opentelemetry-instrumentation-hapi/test/hapi-server-ext.test.ts
  plugins/node/opentelemetry-instrumentation-hapi/test/hapi.test.ts
  plugins/node/opentelemetry-instrumentation-ioredis/test/ioredis.test.ts
  plugins/node/opentelemetry-instrumentation-knex/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-koa/test/koa.test.ts
  plugins/node/opentelemetry-instrumentation-memcached/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-mysql/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-mysql2/test/mysql.test.ts
  plugins/node/opentelemetry-instrumentation-nestjs-core/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-net/test/connect.test.ts
  plugins/node/opentelemetry-instrumentation-net/test/instrument.test.ts
  plugins/node/opentelemetry-instrumentation-net/test/tls.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/utils.test.ts
  plugins/node/opentelemetry-instrumentation-pino/test/pino.test.ts
  plugins/node/opentelemetry-instrumentation-redis/test/redis.test.ts
  plugins/node/opentelemetry-instrumentation-restify/test/restify.test.ts
  plugins/node/opentelemetry-instrumentation-router/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-winston/test/winston.test.ts
  plugins/web/opentelemetry-instrumentation-document-load/test/documentLoad.test.ts
  plugins/web/opentelemetry-instrumentation-long-task/test/compatibility.test.ts
  plugins/web/opentelemetry-instrumentation-long-task/test/longTask.test.ts
  plugins/web/opentelemetry-instrumentation-user-interaction/test/userInteraction.nozone.test.ts
  plugins/web/opentelemetry-instrumentation-user-interaction/test/userInteraction.test.ts
  plugins/web/opentelemetry-plugin-react-load/test/BaseOpenTelemetryComponent.test.ts
Labels: pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:plugin-react-load, pkg:instrumentation-dataloader, pkg:instrumentation-cucumber, pkg:instrumentation-undici, has:sponsor, pkg-status:unmaintained

#2654 refactor: migrate away from deprecated `addMetricReader` for SDK 2.0
  examples/mysql/src/tracer.ts
  plugins/node/instrumentation-runtime-node/test/event_loop_delay.test.ts
  plugins/node/instrumentation-runtime-node/test/event_loop_time.test.ts
  plugins/node/instrumentation-runtime-node/test/event_loop_utilization.test.ts
  plugins/node/instrumentation-runtime-node/test/heap_space_and_used.test.ts
  plugins/node/instrumentation-runtime-node/test/instrumentation.test.ts
  plugins/node/instrumentation-undici/test/metrics.test.ts
  plugins/node/opentelemetry-instrumentation-aws-lambda/test/integrations/lambda-handler.force-flush.test.ts
  plugins/node/opentelemetry-instrumentation-mongodb/test/mongodb-v4-v5-v6.metrics.test.ts
  plugins/node/opentelemetry-instrumentation-mysql/test/index.metrics.test.ts
Labels: pkg:instrumentation-mysql, pkg:instrumentation-aws-lambda, pkg:instrumentation-mongodb, pkg:instrumentation-runtime-node, pkg:instrumentation-undici, has:sponsor, pkg-status:unmaintained

#2676 feat(cucumber): support @cucumber/cucumber@11
  plugins/node/instrumentation-cucumber/.tav.yml
  plugins/node/instrumentation-cucumber/src/instrumentation.ts
Labels: pkg:instrumentation-cucumber

#2652 feat(auto-instrumentations-node)!: disable @opentelemetry/instrumentation-fastify by default
  metapackages/auto-instrumentations-node/README.md
  metapackages/auto-instrumentations-node/src/utils.ts
  metapackages/auto-instrumentations-node/test/utils.test.ts
Labels: pkg:auto-instrumentations-node, pkg:instrumentation-fastify, has:sponsor

#2651 docs(instrumentation-fastify): deprecate instrumentation in favor of @fastify/otel
  plugins/node/opentelemetry-instrumentation-fastify/README.md
  plugins/node/opentelemetry-instrumentation-fastify/src/instrumentation.ts
  scripts/lint-readme.js
Labels: pkg:instrumentation-fastify, has:sponsor, pkg-status:unmaintained

#2672 chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  package-lock.json
  plugins/node/instrumentation-cucumber/CHANGELOG.md
  plugins/node/instrumentation-cucumber/package.json
  plugins/node/opentelemetry-instrumentation-mysql2/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-mysql2/package.json
  plugins/node/opentelemetry-instrumentation-pg/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-pg/package.json
Labels: autorelease: pending, pkg:instrumentation-ioredis, pkg:instrumentation-graphql, pkg:instrumentation-mysql, pkg:instrumentation-mysql2, pkg:instrumentation-fs, pkg:instrumentation-restify, pkg:instrumentation-dns, pkg:resource-detector-aws, pkg:auto-instrumentations-node, pkg:auto-instrumentations-web, pkg:instrumentation-tedious, pkg:instrumentation-aws-lambda, pkg:instrumentation-bunyan, pkg:instrumentation-cassandra-driver, pkg:instrumentation-connect, pkg:instrumentation-express, pkg:instrumentation-fastify, pkg:instrumentation-generic-pool, pkg:instrumentation-hapi, pkg:instrumentation-knex, pkg:instrumentation-koa, pkg:instrumentation-memcached, pkg:instrumentation-nestjs-core, pkg:instrumentation-net, pkg:instrumentation-pg, pkg:instrumentation-pino, pkg:instrumentation-redis, pkg:instrumentation-router, pkg:instrumentation-winston, pkg:instrumentation-document-load, pkg:instrumentation-long-task, pkg:instrumentation-user-interaction, pkg:plugin-react-load, pkg:instrumentation-dataloader, pkg:instrumentation-cucumber, pkg:resource-detector-container, pkg:instrumentation-undici, pkg-status:unmaintained
